footer.site-footer#colophon
    .container
        ul.list-footer.list-inline.list-unstyled
            li
                span &copy; #{__('FOOTER_COPYRIGHT')}
            li
                if __('lang') == 'cn-zh'
                    a(href="https://www.airasia.com/cn/zh/about-us/privacy-policy.page" target='_blank') #{__('PRIVACY_POLICY')}
                if __('lang') == 'en'
                    a(href="https://www.airasia.com/my/en/about-us/privacy-policy.page" target='_blank') #{__('PRIVACY_POLICY')}
                if __('lang') == 'hk-zh'
                    a(href="https://www.airasia.com/cn/zh/about-us/privacy-policy.page" target='_blank') #{__('PRIVACY_POLICY')}
                if __('lang') == 'id'
                    a(href="https://www.airasia.com/id/id/about-us/privacy-policy.page" target='_blank') #{__('PRIVACY_POLICY')}
                if __('lang') == 'jp'
                    a(href="https://www.airasia.com/jp/ja/about-us/privacy-policy.page" target='_blank') #{__('PRIVACY_POLICY')}
                if __('lang') == 'kr'
                    a(href="https://www.airasia.com/ko/kr/about-us/privacy-policy.page" target='_blank') #{__('PRIVACY_POLICY')}
                if __('lang') == 'th'
                    a(href="https://www.airasia.com/th/th/about-us/privacy-policy.page" target='_blank') #{__('PRIVACY_POLICY')}
                if __('lang') == 'tw-zh'
                    a(href="https://www.airasia.com/tw/zh/about-us/privacy-policy.page" target='_blank') #{__('PRIVACY_POLICY')}
                if __('lang') == 'vn'
                    a(href="https://www.airasia.com/vn/vi/about-us/privacy-policy.page" target='_blank') #{__('PRIVACY_POLICY')}
            //- li
            //-     a(href="#") #{__('TERMS_AND_CONDITIONS')}

input(type="hidden", name="lang", value=__('lang'))