header#masthead.site-header
    #site-navigation.navbar.navbar-default.navbar-fixed-top
        .container
            .row
                .col-md-9.col-sm-8.col-xs-6(data-mh="nav-wrapper")
                    .wrap
                        a.navbar-brand(href="/" + __('lang'))
                            img.img-responsive(src="/public/img/logo-air-asia.svg", alt="", width='141', height='141')
                            span.sr-only Air Asia
                .col-md-3.col-sm-4.col-xs-6(data-mh="nav-wrapper")
                    .row
                        .col-xs-12.col-lang
                            .wrap.dropdown-wrap.pull-right
                                .dropdown
                                    a#dropdownMenu1.btn.btn-link.dropdown-toggle(href='#dropdownMenu1', type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                                        i.fal.fa-globe
                                        span.text-language #{__('LANG_SHORT')}
                                        span.caret
                                    ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                                        li
                                            a(href='/en/' + slug)
                                                span.lang-name English
                                        li
                                            a(href='/id/' + slug)
                                                span.lang-name Bahasa Indonesia
                                        li
                                            a(href='/th/' + slug)
                                                span.lang-name &#xE20;&#xE32;&#xE29;&#xE32;&#xE44;&#xE17;&#xE22;
                                        li
                                            a(href='/cn-zh/' + slug)
                                                span.lang-name &#x7B80;&#x4F53;&#x4E2D;&#x6587;
                                        li
                                            a(href='/tw-zh/' + slug)
                                                span.lang-name &#x7E41;&#x9AD4;&#x4E2D;&#x6587;
                                        li
                                            a(href='/hk-zh/' + slug)
                                                span.lang-name &#x7E41;&#x9AD4;&#x4E2D;&#x6587; (&#x9999;&#x6E2F;)
                                        li
                                            a(href='/kr/' + slug)
                                                span.lang-name &#xD55C;&#xAD6D;&#xC5B4;
                                        li
                                            a(href='/jp/' + slug)
                                                span.lang-name &#x65E5;&#x672C;&#x8A9E;
                                        li
                                            a(href='/vn/' + slug)
                                                span.lang-name Ti&#x1EBF;ng Vi&#x1EC7;t
                        .col-xs-12.col-logout
                            a(href="/" + __('lang') + "?logout").btn.btn-link.pull-right.text-logout
                                | #{__('LOGOUT')}