section.partners-section
    .container
        h4.section-title #{__('OUR_PARTNER')}
        .row.panel-area.hidden-xs
            .col-md-3.col-sm-6
                a(href="https://deals.airasia.com/", target="_blank")
                    .panel.panel-default.panel-partner.panel-flip.vidi
                        .panel-heading(style="background-image:url('/public/img/logo-vidi.png');")
                            img.center-block.img-responsive.invisible(src="/public/img/logo-vidi.png", alt="#")
                        .panel-body
                            p.text-center(data-mh="panel-text") Get 25% off the best local activities. Use code: HALFBILLION25
                            .text-center.text-uppercase
                                .btn.btn-danger #{__('GET_THIS')}
            .col-md-3.col-sm-6
                a(href="https://www.tunehotels.com/aahalfabillion/", target="_blank")
                    .panel.panel-default.panel-partner.tune
                        .panel-heading(style="background-image:url('/public/img/logo-tune.png');")
                            img.center-block.img-responsive.invisible(src="/public/img/logo-tune.png", alt="#")
                        .panel-body
                            p.text-center(data-mh="panel-text") Enjoy up to 35% off your stays with Tune Hotels across Malaysia.
                            .text-center.text-uppercase
                                .btn.btn-danger #{__('GET_THIS')}
            .col-md-3.col-sm-6
                a(href="https://www.airasia.com/au/en/promotion.page", target="_blank")
                    .panel.panel-default.panel-partner.hot-wheels
                        .panel-heading(style="background-image:url('/public/img/logo-hot-wheels.png');")
                            img.center-block.img-responsive.invisible(src="/public/img/logo-hot-wheels.png", alt="#")
                        .panel-body
                            p.text-center(data-mh="panel-text") Free Hot Wheels® when you pre-book the Lil' Star Combo (kids' meal).
                            .text-center.text-uppercase
                                .btn.btn-danger #{__('GET_THIS')}
            .col-md-3.col-sm-6
                a(href="https://www.rokkishop.com/", target="_blank")
                    .panel.panel-default.panel-partner.airasia
                        .panel-heading(style="background-image:url('/public/img/logo-airasia-dutyfree.png');")
                            img.center-block.img-responsive.invisible(src="/public/img/logo-airasia-dutyfree.png", alt="#")
                        .panel-body
                            p.text-center(data-mh="panel-text") Cheaper than airport duty free, enjoy RM50 OFF when you pre-book with us before your flight here. Use code: 500MILLION
                            .text-center.text-uppercase
                                .btn.btn-danger #{__('GET_THIS')}
        .row.panel-area.hidden-xs
            .col-md-3.col-sm-6
                a(href="https://disclaimer.airasia.com/?language=en&redirect_to=https://apply.oevisa.com/", target="_blank")
                    .panel.panel-default.panel-partner.evisa
                        .panel-heading(style="background-image:url('/public/img/logo-evisa.png');")
                            img.center-block.img-responsive.invisible(src="/public/img/logo-evisa.png", alt="#")
                        .panel-body
                            p.text-center(data-mh="panel-text") Discount AUD5 / USD5 for evisa standard service fee.
                            .text-center.text-uppercase
                                .btn.btn-danger #{__('GET_THIS')}
            .col-md-3.col-sm-6
                a(href="http://cars.airasia.com/?clientId=849645", target="_blank")
                    .panel.panel-default.panel-partner.cartrawler
                        .panel-heading(style="background-image:url('/public/img/logo-cartrawler.png');")
                            img.center-block.img-responsive.invisible(src="/public/img/logo-cartrawler.png", alt="#")
                        .panel-body
                            p.text-center(data-mh="panel-text") Up to 20% off car rentals in selected destinations. Use code: E0FD1927
                            .text-center.text-uppercase
                                .btn.btn-danger #{__('GET_THIS')}
            .col-md-3.col-sm-6
                a(href="https://www.bigpayme.com/?utm_campaign=airasia-halfabillion&utm_content=halfabillion&utm_medium=mini-website-halfabillion&utm_source=airasia", target="_blank")
                    .panel.panel-default.panel-partner.bigpay
                        .panel-heading(style="background-image:url('/public/img/logo-bigpay.png');")
                            img.center-block.img-responsive.invisible(src="/public/img/logo-bigpay.png", alt="#")
                        .panel-body
                            p.text-center(data-mh="panel-text") Sign up now for BigPay and earn a RM10 reward! Promo code: PCBIGPAYAA
                            .text-center.text-uppercase
                                .btn.btn-danger #{__('GET_THIS')}
            .col-md-3.col-sm-6
                a(href="https://www.rokki.com/buy/?pcode=AA500mx201805", target="_blank")
                    .panel.panel-default.panel-partner.rokki
                        .panel-heading(style="background-image:url('/public/img/logo-rokki.png');")
                            img.center-block.img-responsive.invisible(src="/public/img/logo-rokki.png", alt="#")
                        .panel-body
                            p.text-center(data-mh="panel-text") FREE 1 Chats Plan with purchase of 1 Internet Plan.
                            .text-center.text-uppercase
                                .btn.btn-danger #{__('GET_THIS')}

        .owl-carousel.owl-theme.partners-carousel.visible-xs
            .item
                a(href="https://deals.airasia.com/", target="_blank")
                    .panel.panel-default.panel-partner
                        .panel-heading(style="background-image:url('/public/img/logo-vidi.png');")
                            img.center-block.img-responsive.invisible(src="/public/img/logo-vidi.png", alt="#")
                        .panel-body
                            p.text-center(data-mh="panel-text") Get 25% off the best local activities. Use code: HALFBILLION25
                            .text-center.text-uppercase
                                .btn.btn-danger #{__('GET_THIS')}
            .item
                a(href="https://www.tunehotels.com/aahalfabillion/", target="_blank")
                .panel.panel-default.panel-partner
                    .panel-heading(style="background-image:url('/public/img/logo-tune.png');")
                        img.center-block.img-responsive.invisible(src="/public/img/logo-tune.png", alt="#")
                    .panel-body
                        p.text-center(data-mh="panel-text") Enjoy up to 35% off your stays with Tune Hotels across Malaysia.
                        .text-center.text-uppercase
                            .btn.btn-danger #{__('GET_THIS')}
            .item
                a(href="https://www.airasia.com/au/en/promotion.page", target="_blank")
                    .panel.panel-default.panel-partner
                        .panel-heading(style="background-image:url('/public/img/logo-hot-wheels.png');")
                            img.center-block.img-responsive.invisible(src="/public/img/logo-hot-wheels.png", alt="#")
                        .panel-body
                            p.text-center(data-mh="panel-text") Free Hot Wheels® when you pre-book the Lil' Star Combo (kids' meal).
                            .text-center.text-uppercase
                                .btn.btn-danger(href="#", target="_blank") #{__('GET_THIS')}
            .item
                a(href="https://www.rokkishop.com/", target="_blank")
                .panel.panel-default.panel-partner
                    .panel-heading(style="background-image:url('/public/img/logo-airasia-dutyfree.png');")
                        img.center-block.img-responsive.invisible(src="/public/img/logo-airasia-dutyfree.png", alt="#")
                    .panel-body
                        p.text-center(data-mh="panel-text") Cheaper than airport duty free, enjoy RM50 OFF when you pre-book with us before your flight here. Use code: 500MILLION
                        .text-center.text-uppercase
                            .btn.btn-danger #{__('GET_THIS')}
            .item
                a(href="https://disclaimer.airasia.com/?language=en&redirect_to=https://apply.oevisa.com/", target="_blank")
                    .panel.panel-default.panel-partner
                        .panel-heading(style="background-image:url('/public/img/logo-evisa.png');")
                            img.center-block.img-responsive.invisible(src="/public/img/logo-evisa.png", alt="#")
                        .panel-body
                            p.text-center(data-mh="panel-text") Discount AUD5 / USD5 for evisa standard service fee.
                            .text-center.text-uppercase
                                .btn.btn-danger #{__('GET_THIS')}
            .item
                a(href="http://cars.airasia.com/?clientId=849645", target="_blank")
                    .panel.panel-default.panel-partner
                        .panel-heading(style="background-image:url('/public/img/logo-cartrawler.png');")
                            img.center-block.img-responsive.invisible(src="/public/img/logo-cartrawler.png", alt="#")
                        .panel-body
                            p.text-center(data-mh="panel-text") Up to 20% off car rentals in selected destinations. Use code: E0FD1927
                            .text-center.text-uppercase
                                .btn.btn-danger #{__('GET_THIS')}
            .item
                a(href="https://www.bigpayme.com/?utm_campaign=airasia-halfabillion&utm_content=halfabillion&utm_medium=mini-website-halfabillion&utm_source=airasia", target="_blank")
                    .panel.panel-default.panel-partner
                        .panel-heading(style="background-image:url('/public/img/logo-bigpay.png');")
                            img.center-block.img-responsive.invisible(src="/public/img/logo-bigpay.png", alt="#")
                        .panel-body
                            p.text-center(data-mh="panel-text") Sign up now for BigPay and earn a RM10 reward! Promo code: PCBIGPAYAA
                            .text-center.text-uppercase
                                .btn.btn-danger #{__('GET_THIS')}
            .item
                a(href="https://www.rokki.com/buy/?pcode=AA500mx201805", target="_blank")
                    .panel.panel-default.panel-partner
                        .panel-heading(style="background-image:url('/public/img/logo-rokki.png');")
                            img.center-block.img-responsive.invisible(src="/public/img/logo-rokki.png", alt="#")
                        .panel-body
                            p.text-center(data-mh="panel-text") FREE 1 Chats Plan with purchase of 1 Internet Plan.
                            .text-center.text-uppercase
                                .btn.btn-danger #{__('GET_THIS')}