svg#vector2(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1263.49 557.73')
  g#Layer_2(data-name='Layer 2')
    g#Layer_1-2(data-name='Layer 1')
      path(d='M309.48,80.25h-17.6a9.28,9.28,0,0,1-.13-18.55,14.56,14.56,0,0,1,27.8-2.34,9.35,9.35,0,0,1,13.05,7.12,6.89,6.89,0,0,1-.37,13.77h-9.77', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M1079.89,122.85h21.42a11.29,11.29,0,0,0,.16-22.58,17.72,17.72,0,0,0-33.84-2.85,11.38,11.38,0,0,0-15.89,8.67,8.39,8.39,0,0,0,.45,16.76h11.9', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M200,224.24h12.64a6.66,6.66,0,0,0,.09-13.32,10.45,10.45,0,0,0-20-1.68,6.72,6.72,0,0,0-9.37,5.11,4.95,4.95,0,0,0,.27,9.89h7', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      g#sun(width="141px", height="141px")
       circle(cx='931.19', cy='51.49', r='22.36', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
       line(x1='931.19', y1='16.19', x2='931.19', y2='1', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
       line(x1='931.19', y1='101.99', x2='931.19', y2='86.79', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
       line(x1='966.49', y1='51.49', x2='981.68', y2='51.49', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
       line(x1='880.69', y1='51.49', x2='895.89', y2='51.49', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
       line(x1='955.75', y1='76.85', x2='966.32', y2='87.76', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
       line(x1='896.05', y1='15.23', x2='906.63', y2='26.14', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
       line(x1='908.63', y1='78.65', x2='898.92', y2='90.33', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
       line(x1='963.45', y1='12.65', x2='953.74', y2='24.34', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M368.63,233.65H348.94a1,1,0,0,1-1-1V221a1,1,0,0,1,1-1h19.69a1,1,0,0,1,1,1v11.66A1,1,0,0,1,368.63,233.65ZM350,231.58H367.6V222H350Z', style='fill:#fff')
      path(d='M373.17,222H344.4a1,1,0,0,1,0-2.07h28.77a1,1,0,0,1,0,2.07Z', style='fill:#fff')
      path(d='M362.28,222.09h-7a1,1,0,0,1-.89-.5l-8.29-13.81a1,1,0,0,1,.89-1.57h23.58a1,1,0,0,1,.9.53,1,1,0,0,1,0,1l-8.3,13.81A1,1,0,0,1,362.28,222.09Zm-6.4-2.07h5.82l7-11.73H348.83Z', style='fill:#fff')
      path(d='M358.79,221.51a1,1,0,0,1-1-1V207.84a1,1,0,1,1,2.07,0v12.63A1,1,0,0,1,358.79,221.51Z', style='fill:#fff')
      path(d='M371,208.29H346.75l.11-1.14c.68-7-6.53-12.52-6.61-12.58a32.14,32.14,0,1,1,37,0c-.31.21-6.8,4.5-6.31,12.6ZM349,206.21h19.9c.05-8.62,6.95-13.14,7.26-13.34a30.06,30.06,0,1,0-34.66,0C341.82,193.16,349,198.68,349,206.21Z', style='fill:#fff')
      path(d='M350.75,207.26c-.24-7.39-7.77-18.52-7.85-18.63-6.58-8.95-6.66-20.32-6.66-20.8,0-22.67,16.75-30.91,16.92-31l.89,1.87c-.64.31-15.73,7.8-15.73,29.12,0,.11.08,11.18,6.27,19.6.35.51,8,11.77,8.24,19.76Z', style='fill:#fff')
      path(d='M366.82,207.26l-2.07-.07c.26-8,7.89-19.25,8.21-19.73,6.23-8.47,6.3-19.51,6.3-19.63,0-21.38-15.58-29.05-15.74-29.12l.89-1.87c.17.08,16.92,8.32,16.92,31,0,.48-.08,11.85-6.68,20.83C374.6,188.74,367.06,199.87,366.82,207.26Z', style='fill:#fff')
      path(d='M355.14,207.12l-3.89-25.4c-4.43-37.77,4.44-44.76,4.82-45l1.23,1.67-.62-.83.63.82c-.08.06-8.24,7-4,43.11l3.88,25.36Z', style='fill:#fff')
      path(d='M362.43,207.12l-2-.31,3.88-25.4c4.23-36.08-3.92-43-4-43.07l1.25-1.66c.38.28,9.24,7.27,4.82,45Z', style='fill:#fff')
      path(d='M352.49,430.19a125.6,125.6,0,0,0-73-23.07c-41.83,0-78.75,20.06-100.8,50.65', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M212.16,426.47a74.82,74.82,0,0,0-32.56-7.38,73.27,73.27,0,0,0-59.1,29.27', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M186.51,395.72c-25.8,0-47.33,8.26-65.15,23.49', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M245.66,411.69c-7.77-5.12-14.34-9.23-23.49-12.12', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M153.1,424a82.3,82.3,0,0,0-31-4.68A81.08,81.08,0,0,0,78.49,434', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      line(x1='323.26', y1='414.66', x2='323.26', y2='369.09', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='330 375.08 323.26 368.64 316.51 375.08', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='334.49 394.62 323.26 383.9 312.03 394.62', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='334.49 407.05 323.26 396.33 312.03 407.05', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      line(x1='261.86', y1='407.73', x2='261.86', y2='362.16', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='268.6 368.15 261.86 361.71 255.11 368.15', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='273.08 387.69 261.86 376.97 250.63 387.69', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='273.08 400.12 261.86 389.4 250.63 400.12', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      line(x1='290.06', y1='406.18', x2='290.06', y2='378.61', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='294.14 382.23 290.06 378.33 285.98 382.23', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='296.85 394.05 290.06 387.57 283.26 394.05', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='296.85 401.57 290.06 395.08 283.26 401.57', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='177.8 368.87 148.51 328.48 130.07 354.37', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='154.48 386.47 93.19 308.81 62.83 348.16', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='85.6 383.37 49.81 335.73 1 398.9', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='119.23 400.45 84.52 357.48 32.45 425.82', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='113.94 335.47 104.58 346.73 92.38 331.59 87.5 336.25 79.37 327.7', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M911,430.19a125.6,125.6,0,0,1,73-23.07c41.83,0,78.75,20.06,100.8,50.65', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M1051.33,426.47a74.82,74.82,0,0,1,32.56-7.38,73.28,73.28,0,0,1,59.1,29.27', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M1017.82,411.69a104.51,104.51,0,0,1,124.31,7.52', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M1110.38,424a82.38,82.38,0,0,1,31-4.68A81.11,81.11,0,0,1,1185,434', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      line(x1='1040.89', y1='396.99', x2='1040.89', y2='351.43', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='1034.15 357.41 1040.89 350.97 1047.64 357.41', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='1029.67 376.95 1040.89 366.23 1052.12 376.95', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='1029.67 389.38 1040.89 378.66 1052.12 389.38', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      line(x1='1074.89', y1='396.42', x2='1074.89', y2='350.85', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='1068.15 356.84 1074.89 350.4 1081.64 356.84', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='1063.67 376.38 1074.89 365.66 1086.12 376.38', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='1063.67 388.81 1074.89 378.09 1086.12 388.81', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='1085.69 368.87 1114.98 328.48 1133.42 354.37', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='1109.01 386.47 1170.29 308.81 1200.66 348.16', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='1177.89 383.37 1213.68 335.73 1262.49 398.9', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='1144.26 400.45 1178.97 357.48 1231.03 425.82', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      polyline(points='1149.55 335.47 1158.9 346.73 1171.11 331.59 1175.99 336.25 1184.12 327.7', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M208,342.32v12.17a.55.55,0,0,1-1.09,0V342.32a.55.55,0,0,1,1.09,0Z', style='fill:#fff')
      path(d='M208.6,345.45h-2.37a.54.54,0,0,1,0-1.08h2.37a.54.54,0,0,1,0,1.08Z', style='fill:#fff')
      path(d='M208.21,349h-1.58a.55.55,0,0,1,0-1.09h1.58a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
      path(d='M208.43,351.54h-2a.55.55,0,0,1,0-1.09h2a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
      path(d='M208.92,355.25h-2.7a.54.54,0,0,1,0-1.08h2.7a.54.54,0,0,1,0,1.08Z', style='fill:#fff')
      path(d='M221.43,367h-28.5a.54.54,0,0,1,0-1.08h28.5a.54.54,0,0,1,0,1.08Z', style='fill:#fff')
      path(d='M209.58,354.83V357a.55.55,0,0,1-1.09,0v-2.14a.55.55,0,0,1,1.09,0Z', style='fill:#fff')
      path(d='M222.91,366.08a112.26,112.26,0,0,1-14-8.73c-.55-.4,0-1.34.55-.93a111.46,111.46,0,0,0,14,8.72c.62.33.07,1.26-.55.94Z', style='fill:#fff')
      path(d='M223.39,366.22a5.31,5.31,0,0,1-1.7.76.55.55,0,0,1-.29-1.05,4.26,4.26,0,0,0,1.44-.65c.58-.4,1.12.54.55.94Z', style='fill:#fff')
      path(d='M216.56,366.54v8.22a.54.54,0,0,1-1.08,0v-8.22a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
      path(d='M223.68,379.15c-2.94,0-5.78-2.16-7.93-4-.53-.46.24-1.22.77-.77,1.88,1.62,4.59,3.66,7.16,3.68a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
      path(d='M224,379.07a3.6,3.6,0,0,1-1.64,1.29c-.64.26-.93-.79-.29-1.05a2.32,2.32,0,0,0,1-.78c.4-.56,1.34,0,.93.54Z', style='fill:#fff')
      path(d='M206.54,354.83V357a.55.55,0,0,1-1.09,0v-2.14a.55.55,0,0,1,1.09,0Z', style='fill:#fff')
      path(d='M191.57,365.14a110.74,110.74,0,0,0,14-8.72c.56-.41,1.11.53.55.93a111.53,111.53,0,0,1-14,8.73c-.62.32-1.17-.61-.55-.94Z', style='fill:#fff')
      path(d='M192.19,365.28a4.26,4.26,0,0,0,1.44.65.54.54,0,0,1-.29,1.05,5.16,5.16,0,0,1-1.69-.76c-.57-.4,0-1.34.54-.94Z', style='fill:#fff')
      path(d='M199.55,366.54v8.22a.54.54,0,0,1-1.08,0v-8.22a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
      path(d='M191.35,378.06c2.57,0,5.28-2.06,7.17-3.68.52-.45,1.29.31.76.77-2.15,1.84-5,4-7.93,4a.55.55,0,0,1,0-1.09Z', style='fill:#fff')
      path(d='M192,378.53a2.32,2.32,0,0,0,1,.78c.64.26.36,1.31-.29,1.05a3.65,3.65,0,0,1-1.64-1.29c-.41-.56.53-1.1.93-.54Z', style='fill:#fff')
      path(d='M222.22,380.38H193a.55.55,0,0,1,0-1.09h29.18a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
      path(d='M216.25,375.31H198.67a.55.55,0,0,1,0-1.09h17.58a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
      path(d='M211.24,372.62h3l-.55.54v-4.45l.55.54h-3l.54-.54v4.45a.54.54,0,0,1-1.08,0v-4.45a.55.55,0,0,1,.54-.54h3a.55.55,0,0,1,.54.54v4.45a.55.55,0,0,1-.54.54h-3A.54.54,0,0,1,211.24,372.62Z', style='fill:#fff')
      path(d='M205.81,372.62h3l-.54.54v-4.45l.54.54h-3l.55-.54v4.45a.55.55,0,0,1-1.09,0v-4.45a.55.55,0,0,1,.54-.54h3a.55.55,0,0,1,.54.54v4.45a.55.55,0,0,1-.54.54h-3A.54.54,0,0,1,205.81,372.62Z', style='fill:#fff')
      path(d='M200.39,372.62h3l-.54.54v-4.45l.54.54h-3l.54-.54v4.45a.54.54,0,0,1-1.08,0v-4.45a.54.54,0,0,1,.54-.54h3a.54.54,0,0,1,.54.54v4.45a.54.54,0,0,1-.54.54h-3A.54.54,0,0,1,200.39,372.62Z', style='fill:#fff')
      path(d='M216.56,380.06v8.22a.54.54,0,0,1-1.08,0v-8.22a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
      path(d='M223.68,392.67c-2.94,0-5.78-2.16-7.93-4-.53-.46.24-1.22.77-.77,1.88,1.61,4.59,3.66,7.16,3.68a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
      path(d='M224,392.59a3.6,3.6,0,0,1-1.64,1.29c-.64.26-.93-.79-.29-1.05a2.34,2.34,0,0,0,1-.79c.4-.56,1.34,0,.93.55Z', style='fill:#fff')
      path(d='M199.55,380.06v8.22a.54.54,0,0,1-1.08,0v-8.22a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
      path(d='M191.35,391.58c2.57,0,5.28-2.07,7.17-3.68.52-.45,1.29.31.76.77-2.15,1.84-5,4-7.93,4a.55.55,0,0,1,0-1.09Z', style='fill:#fff')
      path(d='M192,392a2.34,2.34,0,0,0,1,.79c.64.26.36,1.31-.29,1.05a3.65,3.65,0,0,1-1.64-1.29c-.41-.57.53-1.11.93-.55Z', style='fill:#fff')
      path(d='M222.22,393.89H193a.54.54,0,0,1,0-1.08h29.18a.54.54,0,0,1,0,1.08Z', style='fill:#fff')
      path(d='M216.25,388.82H198.67a.54.54,0,0,1,0-1.08h17.58a.54.54,0,0,1,0,1.08Z', style='fill:#fff')
      path(d='M211.24,386.14h3l-.55.54v-4.45l.55.54h-3l.54-.54v4.45a.54.54,0,0,1-1.08,0v-4.45a.54.54,0,0,1,.54-.54h3a.54.54,0,0,1,.54.54v4.45a.55.55,0,0,1-.54.54h-3A.54.54,0,0,1,211.24,386.14Z', style='fill:#fff')
      path(d='M205.81,386.14h3l-.54.54v-4.45l.54.54h-3l.55-.54v4.45a.55.55,0,0,1-1.09,0v-4.45a.54.54,0,0,1,.54-.54h3a.54.54,0,0,1,.54.54v4.45a.55.55,0,0,1-.54.54h-3A.54.54,0,0,1,205.81,386.14Z', style='fill:#fff')
      path(d='M200.39,386.14h3l-.54.54v-4.45l.54.54h-3l.54-.54v4.45a.54.54,0,0,1-1.08,0v-4.45a.54.54,0,0,1,.54-.54h3a.54.54,0,0,1,.54.54v4.45a.54.54,0,0,1-.54.54h-3A.54.54,0,0,1,200.39,386.14Z', style='fill:#fff')
      path(d='M216.56,393.35v8.22a.54.54,0,0,1-1.08,0v-8.22a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
      path(d='M223.68,406c-2.94,0-5.78-2.16-7.93-4-.53-.46.24-1.22.77-.77,1.88,1.62,4.59,3.67,7.16,3.69a.54.54,0,0,1,0,1.08Z', style='fill:#fff')
      path(d='M224,405.88a3.6,3.6,0,0,1-1.64,1.29c-.64.26-.93-.79-.29-1.05a2.32,2.32,0,0,0,1-.78c.4-.56,1.34,0,.93.54Z', style='fill:#fff')
      path(d='M199.55,393.35v8.22a.54.54,0,0,1-1.08,0v-8.22a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
      path(d='M191.35,404.88c2.57,0,5.28-2.07,7.17-3.69.52-.45,1.29.31.76.77-2.15,1.84-5,4-7.93,4a.54.54,0,0,1,0-1.08Z', style='fill:#fff')
      path(d='M192,405.34a2.32,2.32,0,0,0,1,.78c.64.26.36,1.31-.29,1.05a3.65,3.65,0,0,1-1.64-1.29c-.41-.56.53-1.1.93-.54Z', style='fill:#fff')
      path(d='M222.22,407.19H193a.55.55,0,0,1,0-1.09h29.18a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
      path(d='M216.25,402.12H198.67a.55.55,0,0,1,0-1.09h17.58a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
      path(d='M211.24,399.43h3l-.55.54v-4.45l.55.54h-3l.54-.54V400a.54.54,0,0,1-1.08,0v-4.45a.55.55,0,0,1,.54-.54h3a.55.55,0,0,1,.54.54V400a.55.55,0,0,1-.54.54h-3A.54.54,0,0,1,211.24,399.43Z', style='fill:#fff')
      path(d='M205.81,399.43h3l-.54.54v-4.45l.54.54h-3l.55-.54V400a.55.55,0,0,1-1.09,0v-4.45a.55.55,0,0,1,.54-.54h3a.55.55,0,0,1,.54.54V400a.55.55,0,0,1-.54.54h-3A.54.54,0,0,1,205.81,399.43Z', style='fill:#fff')
      path(d='M200.39,399.43h3l-.54.54v-4.45l.54.54h-3l.54-.54V400a.54.54,0,0,1-1.08,0v-4.45a.54.54,0,0,1,.54-.54h3a.54.54,0,0,1,.54.54V400a.54.54,0,0,1-.54.54h-3A.54.54,0,0,1,200.39,399.43Z', style='fill:#fff')
      path(d='M216.56,406.79V415a.54.54,0,0,1-1.08,0v-8.23a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
      path(d='M199.55,406.79V415a.54.54,0,0,1-1.08,0v-8.23a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
      path(d='M211.24,412.87h3l-.55.54V409l.55.54h-3l.54-.54v4.45a.54.54,0,0,1-1.08,0V409a.55.55,0,0,1,.54-.54h3a.55.55,0,0,1,.54.54v4.45a.54.54,0,0,1-.54.54h-3A.54.54,0,0,1,211.24,412.87Z', style='fill:#fff')
      path(d='M205.81,412.87h3l-.54.54V409l.54.54h-3l.55-.54v4.45a.55.55,0,0,1-1.09,0V409a.55.55,0,0,1,.54-.54h3a.55.55,0,0,1,.54.54v4.45a.54.54,0,0,1-.54.54h-3A.54.54,0,0,1,205.81,412.87Z', style='fill:#fff')
      path(d='M200.39,412.87h3l-.54.54V409l.54.54h-3l.54-.54v4.45a.54.54,0,0,1-1.08,0V409a.54.54,0,0,1,.54-.54h3a.54.54,0,0,1,.54.54v4.45a.54.54,0,0,1-.54.54h-3A.54.54,0,0,1,200.39,412.87Z', style='fill:#fff')
      path(d='M218,415.78H197.06a.54.54,0,0,1,0-1.08H218a.54.54,0,0,1,0,1.08Z', style='fill:#fff')
      path(d='M218.7,415.32v2.1a.54.54,0,0,1-1.08,0v-2.1a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
      path(d='M220.79,418.19h-2.7a.55.55,0,0,1,0-1.09h2.7a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
      path(d='M221.41,417.8v2.93a.55.55,0,0,1-1.09,0V417.8a.55.55,0,0,1,1.09,0Z', style='fill:#fff')
      path(d='M197.6,415.32v2.1a.54.54,0,0,1-1.08,0v-2.1a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
      path(d='M197.06,418.11H193.6a.54.54,0,0,1,0-1.08h3.46a.54.54,0,0,1,0,1.08Z', style='fill:#fff')
      path(d='M194.14,417.65v3.15a.54.54,0,0,1-1.08,0v-3.15a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
      path(d='M962.19,377.69c7.15-2.63,12.42-12.13,15.32-18.67,3.68-8.32,4.65-17.26,4.67-26.26a.62.62,0,0,0-1.23,0c0,7.52-.66,15.05-3.16,22.2s-8.22,18.71-15.93,21.54c-.74.27-.42,1.46.33,1.19Z', style='fill:#fff')
      path(d='M961.76,377.86a14,14,0,0,0,3.27,1.56c.75.25,1.07-.94.32-1.19a12.67,12.67,0,0,1-3-1.44c-.67-.44-1.29.63-.63,1.07Z', style='fill:#fff')
      path(d='M981.16,351.89c-2.84,12.45-10.52,22.72-20.31,30.69-5,4.05-11.6,9.26-18,10.87a.62.62,0,0,0,.33,1.19c6.69-1.68,13.35-6.94,18.57-11.19,9.94-8.1,17.74-18.59,20.62-31.23.18-.78-1-1.11-1.19-.33Z', style='fill:#fff')
      path(d='M942.92,394.74a13.39,13.39,0,0,1,9,7.61c.32.72,1.39.09,1.07-.63a14.59,14.59,0,0,0-9.76-8.17c-.77-.19-1.1,1-.33,1.19Z', style='fill:#fff')
      path(d='M968.36,376v31.47a.62.62,0,0,0,1.23,0V376a.62.62,0,0,0-1.23,0Z', style='fill:#fff')
      path(d='M947.6,396a79.64,79.64,0,0,0,21.85-16.59c.55-.59-.33-1.46-.87-.88A78.9,78.9,0,0,1,947,394.91c-.71.36-.08,1.43.62,1.06Z', style='fill:#fff')
      path(d='M962.89,385.48H969a.62.62,0,0,0,0-1.24h-6.08a.62.62,0,0,0,0,1.24Z', style='fill:#fff')
      path(d='M962.27,385v5.55a.62.62,0,0,0,1.24,0V385a.62.62,0,0,0-1.24,0Z', style='fill:#fff')
      path(d='M956.46,389.88v17.46a.62.62,0,0,0,1.23,0V389.88a.62.62,0,0,0-1.23,0Z', style='fill:#fff')
      path(d='M952.23,392.66V407.2a.62.62,0,0,0,1.23,0V392.66a.62.62,0,0,0-1.23,0Z', style='fill:#fff')
      path(d='M957.21,391.43H969a.62.62,0,0,0,0-1.24H957.21a.62.62,0,0,0,0,1.24Z', style='fill:#fff')
      path(d='M957.58,395.54a3.56,3.56,0,0,1,2.76-1.46,2.29,2.29,0,0,1,2,1.93c.15.77,1.35.44,1.19-.33a3.56,3.56,0,0,0-2.81-2.8,4.61,4.61,0,0,0-4,1.79c-.54.58.33,1.46.88.87Z', style='fill:#fff')
      path(d='M963.75,396a2.4,2.4,0,0,1,4.24-.78c.51.61,1.38-.26.88-.87a3.64,3.64,0,0,0-6.31,1.32c-.23.76,1,1.08,1.19.33Z', style='fill:#fff')
      path(d='M967.13,387.83a1.05,1.05,0,0,1-2.1,0,1.05,1.05,0,0,1,2.1,0c0,.79,1.28.8,1.24,0a2.29,2.29,0,1,0-2.38,2.29,2.33,2.33,0,0,0,2.38-2.29C968.41,387,967.18,387,967.13,387.83Z', style='fill:#fff')
      path(d='M1001.76,376.5c-7.78-2.86-13.43-14.26-16.1-21.54-2.62-7.13-3.4-14.65-3.43-22.2a.62.62,0,0,0-1.23,0c0,9,1.21,18,5,26.26,3,6.51,8.28,16,15.43,18.67.75.27,1.07-.92.33-1.19Z', style='fill:#fff')
      path(d='M1001.23,376.79a12.67,12.67,0,0,1-3,1.44c-.75.25-.43,1.44.33,1.19a14.16,14.16,0,0,0,3.26-1.56c.66-.44,0-1.51-.63-1.07Z', style='fill:#fff')
      path(d='M981.27,352.22c2.88,12.64,10.68,23.13,20.63,31.23,5.21,4.25,11.87,9.51,18.56,11.19a.62.62,0,0,0,.33-1.19c-6.42-1.61-13-6.82-18-10.87-9.8-7.95-17.47-18.26-20.31-30.69-.18-.78-1.37-.45-1.19.33Z', style='fill:#fff')
      path(d='M1020.38,393.55a14.59,14.59,0,0,0-9.76,8.17c-.33.72.74,1.35,1.06.63a13.39,13.39,0,0,1,9-7.61.62.62,0,0,0-.32-1.19Z', style='fill:#fff')
      path(d='M994,376v31.6a.62.62,0,0,0,1.24,0V376a.62.62,0,0,0-1.24,0Z', style='fill:#fff')
      path(d='M1016.64,394.91A79.05,79.05,0,0,1,995,378.5c-.54-.58-1.41.29-.87.88A79.78,79.78,0,0,0,1016,396c.7.37,1.33-.7.62-1.06Z', style='fill:#fff')
      path(d='M1000.73,384.24h-6.08a.62.62,0,0,0,0,1.24h6.08a.62.62,0,0,0,0-1.24Z', style='fill:#fff')
      path(d='M1000.11,385v5.55a.62.62,0,0,0,1.24,0V385a.62.62,0,0,0-1.24,0Z', style='fill:#fff')
      path(d='M1005.93,389.88v17.46a.62.62,0,0,0,1.24,0V389.88a.62.62,0,0,0-1.24,0Z', style='fill:#fff')
      path(d='M1010.16,392.66V407.2a.62.62,0,0,0,1.24,0V392.66a.62.62,0,0,0-1.24,0Z', style='fill:#fff')
      path(d='M1006.42,390.19h-11.8a.62.62,0,0,0,0,1.24h11.8a.62.62,0,0,0,0-1.24Z', style='fill:#fff')
      path(d='M1006.92,394.67a4.61,4.61,0,0,0-4-1.79,3.53,3.53,0,0,0-2.8,2.8c-.16.77,1,1.11,1.19.33a2.27,2.27,0,0,1,2-1.93,3.6,3.6,0,0,1,2.77,1.46c.54.58,1.41-.29.87-.87Z', style='fill:#fff')
      path(d='M1001.06,395.67a3.63,3.63,0,0,0-6.3-1.32c-.51.61.36,1.48.87.87a2.4,2.4,0,0,1,4.24.78c.23.75,1.43.43,1.19-.33Z', style='fill:#fff')
      path(d='M995.25,387.83a2.34,2.34,0,0,0,2.29,2.29,2.29,2.29,0,1,0-2.29-2.29c0,.8,1.2.8,1.24,0a1.06,1.06,0,0,1,2.11,0,1.06,1.06,0,0,1-2.11,0C996.45,387,995.21,387,995.25,387.83Z', style='fill:#fff')
      path(d='M980,359.8v-.17a.62.62,0,0,0-1.24,0v6.79a.62.62,0,0,0,1.24,0v-6.79a.62.62,0,0,0-1.24,0v.17a.62.62,0,0,0,1.24,0Z', style='fill:#fff')
      path(d='M979.42,360.22h4a.62.62,0,0,0,0-1.23h-4a.62.62,0,0,0,0,1.23Z', style='fill:#fff')
      path(d='M983.16,359.67v6.94a.62.62,0,0,0,1.24,0v-6.94a.62.62,0,0,0-1.24,0Z', style='fill:#fff')
      path(d='M975.78,367.23h11.84a.62.62,0,0,0,0-1.23H975.78a.62.62,0,0,0,0,1.23Z', style='fill:#fff')
      path(d='M975.23,366.75v7.8a.62.62,0,0,0,1.24,0v-7.8a.62.62,0,0,0-1.24,0Z', style='fill:#fff')
      path(d='M986.8,366.42v8.19a.62.62,0,0,0,1.23,0v-8.19a.62.62,0,0,0-1.23,0Z', style='fill:#fff')
      path(d='M970,375.23h23.73a.62.62,0,0,0,0-1.23H970a.62.62,0,0,0,0,1.23Z', style='fill:#fff')
      path(d='M972.92,374.88V407.4a.62.62,0,0,0,1.23,0V374.88a.62.62,0,0,0-1.23,0Z', style='fill:#fff')
      path(d='M988.58,375.14V407.4a.62.62,0,0,0,1.24,0V375.14a.62.62,0,0,0-1.24,0Z', style='fill:#fff')
      path(d='M974.09,386.61c1.37-2.65,5.79-1.43,6.49,1.13a.62.62,0,0,0,1.19-.33c-1-3.55-6.87-5.05-8.74-1.42-.36.71.7,1.33,1.06.62Z', style='fill:#fff')
      path(d='M981.9,387.94c.38-1.42,1-2.48,2.55-2.67,1.31-.17,2.9.06,3.63,1.3a.62.62,0,0,0,1.06-.63c-1-1.68-3-2.13-4.86-1.9-2.11.27-3,1.62-3.57,3.57a.62.62,0,0,0,1.19.33Z', style='fill:#fff')
      path(d='M977.9,393.08H985a.62.62,0,0,0,0-1.24H977.9a.62.62,0,0,0,0,1.24Z', style='fill:#fff')
      path(d='M977.15,392.46v14.88a.62.62,0,0,0,1.23,0V392.46a.62.62,0,0,0-1.23,0Z', style='fill:#fff')
      path(d='M984.49,392.66v14.61a.62.62,0,0,0,1.23,0V392.66a.62.62,0,0,0-1.23,0Z', style='fill:#fff')
      path(d='M967.13,387.83a1.05,1.05,0,0,1-2.1,0,1.05,1.05,0,0,1,2.1,0c0,.79,1.28.8,1.24,0a2.29,2.29,0,1,0-2.38,2.29,2.33,2.33,0,0,0,2.38-2.29C968.41,387,967.18,387,967.13,387.83Z', style='fill:#fff')
      path(d='M980.12,370.91a1.06,1.06,0,0,1-2.11,0,1.06,1.06,0,0,1,2.11,0c0,.79,1.28.79,1.23,0a2.29,2.29,0,1,0-2.38,2.28,2.32,2.32,0,0,0,2.38-2.28C981.4,370.11,980.16,370.12,980.12,370.91Z', style='fill:#fff')
      path(d='M985,370.91a1.06,1.06,0,0,1-2.11,0,1.06,1.06,0,0,1,2.11,0c0,.79,1.28.79,1.24,0a2.34,2.34,0,0,0-2.29-2.29,2.29,2.29,0,1,0,2.29,2.29C986.32,370.11,985.08,370.12,985,370.91Z', style='fill:#fff')
      path(d='M933.89,299.42H921.47a.65.65,0,0,1-.65-.65v-7.35a.66.66,0,0,1,.65-.66h12.42a.66.66,0,0,1,.65.66v7.35A.65.65,0,0,1,933.89,299.42Zm-11.77-1.3h11.11v-6.05H922.12Z', style='fill:#fff')
      path(d='M936.75,292.07H918.61a.65.65,0,0,1-.65-.65.66.66,0,0,1,.65-.66h18.14a.66.66,0,0,1,.65.66A.65.65,0,0,1,936.75,292.07Z', style='fill:#fff')
      path(d='M929.89,292.13h-4.42a.66.66,0,0,1-.56-.31l-5.22-8.71a.63.63,0,0,1,0-.66.65.65,0,0,1,.57-.33h14.86a.65.65,0,0,1,.57.33.63.63,0,0,1,0,.66l-5.22,8.71A.66.66,0,0,1,929.89,292.13Zm-4-1.3h3.68l4.44-7.4H921.4Z', style='fill:#fff')
      path(d='M927.68,291.77a.66.66,0,0,1-.65-.66v-8a.65.65,0,1,1,1.3,0v8A.66.66,0,0,1,927.68,291.77Z', style='fill:#fff')
      path(d='M935.41,283.43H920.09l.07-.72c.43-4.39-4.12-7.89-4.17-7.93a20.26,20.26,0,1,1,23.36,0,9.16,9.16,0,0,0-4,7.94Zm-13.92-1.31H934a10.58,10.58,0,0,1,4.58-8.41,18.95,18.95,0,1,0-21.86,0C917,273.89,921.5,277.37,921.49,282.12Z', style='fill:#fff')
      path(d='M922.61,282.78c-.15-4.66-4.9-11.67-5-11.74-4.15-5.65-4.19-12.81-4.19-13.12,0-14.3,10.55-19.49,10.66-19.54l.56,1.18c-.4.19-9.92,4.92-9.92,18.36,0,.07.06,7.05,4,12.36.22.32,5,7.42,5.19,12.46Z', style='fill:#fff')
      path(d='M932.74,282.78l-1.3,0c.17-5,5-12.14,5.18-12.44,3.92-5.34,4-12.31,4-12.38,0-13.48-9.82-18.31-9.92-18.36l.56-1.18c.11.05,10.66,5.24,10.66,19.54,0,.31,0,7.47-4.21,13.13C937.65,271.11,932.9,278.13,932.74,282.78Z', style='fill:#fff')
      path(d='M925.38,282.69l-2.45-16c-2.79-23.82,2.8-28.22,3-28.4l.77,1.05-.39-.52.4.52s-5.19,4.4-2.52,27.18l2.44,16Z', style='fill:#fff')
      path(d='M930,282.69l-1.29-.19,2.45-16c2.67-22.75-2.48-27.11-2.53-27.15l.78-1.05c.24.18,5.83,4.58,3,28.38Z', style='fill:#fff')
      polygon(points='411.29 353.01 413.53 357.61 418.63 357.19 414.03 359.43 414.45 364.53 412.21 359.93 407.11 360.35 411.71 358.11 411.29 353.01', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M408.54,371.9c-1.76,2.43-3.77,1-2-1.45Z', style='fill:#fff')
      path(d='M429.75,376.12l-2-1.46C428.91,373,430.92,374.49,429.75,376.12Z', style='fill:#fff')
      path(d='M374.18,387.79l-2-1.45C373.93,383.91,375.94,385.36,374.18,387.79Z', style='fill:#fff')
      polygon(points='852.2 353.01 849.96 357.61 844.86 357.19 849.46 359.43 849.04 364.53 851.28 359.93 856.38 360.35 851.78 358.11 852.2 353.01', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M855,371.9c1.76,2.43,3.77,1,2-1.45Z', style='fill:#fff')
      path(d='M833.74,376.12l2-1.46C834.58,373,832.57,374.49,833.74,376.12Z', style='fill:#fff')
      path(d='M889.31,387.79l2-1.45C889.56,383.91,887.55,385.36,889.31,387.79Z', style='fill:#fff')
      path(d='M1085.67,551.19h0a8,8,0,0,0-6,2.71,6.37,6.37,0,0,1-4.73,2.15h0a6.39,6.39,0,0,1-4.74-2.16,8,8,0,0,0-6-2.7h0a8,8,0,0,0-6,2.71.84.84,0,1,0,1.25,1.13,6.34,6.34,0,0,1,4.73-2.15h0A6.34,6.34,0,0,1,1069,555a8.06,8.06,0,0,0,6,2.7h0a8,8,0,0,0,6-2.7,6.34,6.34,0,0,1,4.73-2.15h0a6.38,6.38,0,0,1,4.74,2.15.84.84,0,1,0,1.25-1.13A8,8,0,0,0,1085.67,551.19Z', style='fill:#fff')
      path(d='M1085.67,542.69h0a8.07,8.07,0,0,0-6,2.71,6.34,6.34,0,0,1-4.73,2.15h0a6.38,6.38,0,0,1-4.74-2.15,8,8,0,0,0-6-2.71h0a8,8,0,0,0-6,2.71.84.84,0,1,0,1.25,1.13,6.37,6.37,0,0,1,4.73-2.15h0a6.37,6.37,0,0,1,4.73,2.15,8,8,0,0,0,6,2.71h0a8,8,0,0,0,6-2.71,6.37,6.37,0,0,1,4.73-2.15h0a6.41,6.41,0,0,1,4.74,2.15.84.84,0,1,0,1.25-1.13A8,8,0,0,0,1085.67,542.69Z', style='fill:#fff')
      path(d='M999,497h0a8,8,0,0,0-6,2.7,6.37,6.37,0,0,1-4.74,2.16h0a6.35,6.35,0,0,1-4.73-2.16,8,8,0,0,0-6-2.7h0a8,8,0,0,0-6,2.7.86.86,0,0,0,.06,1.2.85.85,0,0,0,1.19-.06,6.37,6.37,0,0,1,4.73-2.15h0a6.35,6.35,0,0,1,4.73,2.15,8,8,0,0,0,6,2.7h0a8,8,0,0,0,6-2.7,6.32,6.32,0,0,1,4.72-2.15h0a6.34,6.34,0,0,1,4.73,2.15.86.86,0,0,0,1.2.06.85.85,0,0,0,.05-1.2A8,8,0,0,0,999,497Z', style='fill:#fff')
      path(d='M999,488.49h0a8,8,0,0,0-6,2.71,6.39,6.39,0,0,1-4.74,2.15h0a6.37,6.37,0,0,1-4.73-2.15,8,8,0,0,0-6-2.71h0a8,8,0,0,0-6,2.71.85.85,0,0,0,.06,1.19.84.84,0,0,0,1.19-.06,6.37,6.37,0,0,1,4.73-2.15h0a6.35,6.35,0,0,1,4.73,2.15,8,8,0,0,0,6,2.71h0a8,8,0,0,0,6-2.71,6.35,6.35,0,0,1,4.72-2.15h0a6.34,6.34,0,0,1,4.73,2.15.85.85,0,0,0,1.2.06.84.84,0,0,0,.05-1.19A8,8,0,0,0,999,488.49Z', style='fill:#fff')
      path(d='M1020.66,497h0a8,8,0,0,0-6,2.7,6.39,6.39,0,0,1-4.74,2.16h0a6.35,6.35,0,0,1-4.73-2.16,8.06,8.06,0,0,0-6-2.7h0a8,8,0,0,0-6,2.7.85.85,0,1,0,1.25,1.14,6.34,6.34,0,0,1,4.73-2.15h0a6.38,6.38,0,0,1,4.74,2.15,8,8,0,0,0,6,2.7h0a8.06,8.06,0,0,0,6-2.7,6.3,6.3,0,0,1,4.72-2.15h0a6.34,6.34,0,0,1,4.73,2.15.85.85,0,1,0,1.25-1.14A8,8,0,0,0,1020.66,497Z', style='fill:#fff')
      path(d='M1020.66,488.49h0a8,8,0,0,0-6,2.71,6.41,6.41,0,0,1-4.74,2.15h0a6.37,6.37,0,0,1-4.73-2.15,8,8,0,0,0-6-2.71h0a8,8,0,0,0-6,2.71.84.84,0,0,0,1.25,1.13,6.34,6.34,0,0,1,4.73-2.15h0a6.38,6.38,0,0,1,4.74,2.15,8,8,0,0,0,6,2.71h0a8,8,0,0,0,6-2.71,6.34,6.34,0,0,1,4.72-2.15h0a6.34,6.34,0,0,1,4.73,2.15.84.84,0,1,0,1.25-1.13A8,8,0,0,0,1020.66,488.49Z', style='fill:#fff')
      path(d='M1042.16,497h0a8,8,0,0,0-6,2.7,6.39,6.39,0,0,1-4.74,2.16h0a6.35,6.35,0,0,1-4.73-2.16,8.06,8.06,0,0,0-6-2.7h0a8,8,0,0,0-6,2.7.85.85,0,1,0,1.25,1.14,6.34,6.34,0,0,1,4.73-2.15h0a6.38,6.38,0,0,1,4.74,2.15,8,8,0,0,0,6,2.7h0a8.06,8.06,0,0,0,6-2.7,6.3,6.3,0,0,1,4.72-2.15h0a6.34,6.34,0,0,1,4.73,2.15.85.85,0,1,0,1.25-1.14A8,8,0,0,0,1042.16,497Z', style='fill:#fff')
      path(d='M1042.16,488.49h0a8,8,0,0,0-6,2.71,6.41,6.41,0,0,1-4.74,2.15h0a6.37,6.37,0,0,1-4.73-2.15,8,8,0,0,0-6-2.71h0a8,8,0,0,0-6,2.71.84.84,0,0,0,1.25,1.13,6.34,6.34,0,0,1,4.73-2.15h0a6.38,6.38,0,0,1,4.74,2.15,8,8,0,0,0,6,2.71h0a8,8,0,0,0,6-2.71,6.34,6.34,0,0,1,4.72-2.15h0a6.34,6.34,0,0,1,4.73,2.15.84.84,0,1,0,1.25-1.13A8,8,0,0,0,1042.16,488.49Z', style='fill:#fff')
      path(d='M137.82,551.19h0a8,8,0,0,1,6,2.71,6.37,6.37,0,0,0,4.73,2.15h0a6.39,6.39,0,0,0,4.74-2.16,8,8,0,0,1,6-2.7h0a8,8,0,0,1,6,2.71A.84.84,0,1,1,164,555a6.34,6.34,0,0,0-4.73-2.15h0a6.38,6.38,0,0,0-4.74,2.15,8,8,0,0,1-6,2.7h0a8,8,0,0,1-6-2.7,6.34,6.34,0,0,0-4.73-2.15h0a6.36,6.36,0,0,0-4.74,2.15.84.84,0,1,1-1.25-1.13A8,8,0,0,1,137.82,551.19Z', style='fill:#fff')
      path(d='M137.82,542.69h0a8.09,8.09,0,0,1,6,2.71,6.34,6.34,0,0,0,4.73,2.15h0a6.38,6.38,0,0,0,4.74-2.15,8,8,0,0,1,6-2.71h0a8,8,0,0,1,6,2.71.84.84,0,1,1-1.25,1.13,6.37,6.37,0,0,0-4.73-2.15h0a6.41,6.41,0,0,0-4.74,2.15,8,8,0,0,1-6,2.71h0a8,8,0,0,1-6-2.71,6.37,6.37,0,0,0-4.73-2.15h0a6.39,6.39,0,0,0-4.74,2.15.84.84,0,1,1-1.25-1.13A8,8,0,0,1,137.82,542.69Z', style='fill:#fff')
      path(d='M224.53,497h0a8,8,0,0,1,6,2.7,6.35,6.35,0,0,0,4.73,2.16h0a6.36,6.36,0,0,0,4.73-2.16,8,8,0,0,1,6-2.7h0a8,8,0,0,1,6,2.7.84.84,0,1,1-1.24,1.14,6.37,6.37,0,0,0-4.73-2.15h0a6.34,6.34,0,0,0-4.73,2.15,8,8,0,0,1-6,2.7h0a8,8,0,0,1-6-2.7,6.33,6.33,0,0,0-4.72-2.15h0a6.38,6.38,0,0,0-4.74,2.15.84.84,0,1,1-1.24-1.14A8,8,0,0,1,224.53,497Z', style='fill:#fff')
      path(d='M224.53,488.49h0a8,8,0,0,1,6,2.71,6.37,6.37,0,0,0,4.73,2.15h0A6.39,6.39,0,0,0,240,491.2a8,8,0,0,1,6-2.71h0a8,8,0,0,1,6,2.71.84.84,0,1,1-1.24,1.13,6.37,6.37,0,0,0-4.73-2.15h0a6.34,6.34,0,0,0-4.73,2.15,8,8,0,0,1-6,2.71h0a8,8,0,0,1-6-2.71,6.37,6.37,0,0,0-4.72-2.15h0a6.38,6.38,0,0,0-4.74,2.15.84.84,0,1,1-1.24-1.13A8,8,0,0,1,224.53,488.49Z', style='fill:#fff')
      path(d='M202.83,497h0a8,8,0,0,1,6,2.7,6.39,6.39,0,0,0,4.74,2.16h0a6.35,6.35,0,0,0,4.73-2.16,8.06,8.06,0,0,1,6-2.7h0a8,8,0,0,1,6,2.7.86.86,0,0,1-.06,1.2.85.85,0,0,1-1.19-.06,6.34,6.34,0,0,0-4.73-2.15h0a6.36,6.36,0,0,0-4.74,2.15,8,8,0,0,1-6,2.7h0a8.06,8.06,0,0,1-6-2.7,6.32,6.32,0,0,0-4.72-2.15h0a6.34,6.34,0,0,0-4.73,2.15.86.86,0,0,1-1.2.06.85.85,0,0,1-.05-1.2A8,8,0,0,1,202.83,497Z', style='fill:#fff')
      path(d='M202.83,488.49h0a8,8,0,0,1,6,2.71,6.41,6.41,0,0,0,4.74,2.15h0a6.37,6.37,0,0,0,4.73-2.15,8,8,0,0,1,6-2.71h0a8,8,0,0,1,6,2.71.85.85,0,0,1-.06,1.19.84.84,0,0,1-1.19-.06,6.34,6.34,0,0,0-4.73-2.15h0a6.36,6.36,0,0,0-4.74,2.15,8,8,0,0,1-6,2.71h0a8,8,0,0,1-6-2.71,6.35,6.35,0,0,0-4.72-2.15h0a6.34,6.34,0,0,0-4.73,2.15.85.85,0,0,1-1.2.06.84.84,0,0,1-.05-1.19A8,8,0,0,1,202.83,488.49Z', style='fill:#fff')
      path(d='M181.33,497h0a8,8,0,0,1,6,2.7,6.39,6.39,0,0,0,4.74,2.16h0a6.35,6.35,0,0,0,4.73-2.16,8.06,8.06,0,0,1,6-2.7h0a8,8,0,0,1,6,2.7.86.86,0,0,1-.06,1.2.85.85,0,0,1-1.19-.06,6.34,6.34,0,0,0-4.73-2.15h0a6.36,6.36,0,0,0-4.74,2.15,8,8,0,0,1-6,2.7h0a8.06,8.06,0,0,1-6-2.7,6.32,6.32,0,0,0-4.72-2.15h0a6.34,6.34,0,0,0-4.73,2.15.86.86,0,0,1-1.2.06.85.85,0,0,1-.05-1.2A8,8,0,0,1,181.33,497Z', style='fill:#fff')
      path(d='M181.33,488.49h0a8,8,0,0,1,6,2.71,6.41,6.41,0,0,0,4.74,2.15h0a6.37,6.37,0,0,0,4.73-2.15,8,8,0,0,1,6-2.71h0a8,8,0,0,1,6,2.71.85.85,0,0,1-.06,1.19.84.84,0,0,1-1.19-.06,6.34,6.34,0,0,0-4.73-2.15h0a6.36,6.36,0,0,0-4.74,2.15,8,8,0,0,1-6,2.71h0a8,8,0,0,1-6-2.71,6.35,6.35,0,0,0-4.72-2.15h0a6.34,6.34,0,0,0-4.73,2.15.85.85,0,0,1-1.2.06.84.84,0,0,1-.05-1.19A8,8,0,0,1,181.33,488.49Z', style='fill:#fff')
      path(d='M359.25,271.33c-6.82,30.12-40,49.66-74.11,43.63a66.39,66.39,0,0,1-27.95-11.78', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M429.89,269.78a48.21,48.21,0,0,1-7.94,6.06', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M403.48,282.73A55.55,55.55,0,0,1,378,281.18', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;stroke-dasharray:15.858207702636719,19.8227596282959')
      path(d='M368.83,277.41a49,49,0,0,1-8.31-5.53', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M989.25,222c-6.82-30.12-40-49.66-74.11-43.64a66.53,66.53,0,0,0-27.95,11.79', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M1059.89,223.54a48.21,48.21,0,0,0-7.94-6.06', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
      path(d='M1033.48,210.59a55.55,55.55,0,0,0-25.49,1.55', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;stroke-dasharray:15.858207702636719,19.8227596282959')
      path(d='M998.83,215.91a49,49,0,0,0-8.31,5.53', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
