.vector-container.hidden-xs#vector-container
  svg#hot-air-ballon-1(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 40.52 61.43')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        path(d='M26.47,61.43H14.05a.65.65,0,0,1-.65-.65V53.43a.66.66,0,0,1,.65-.66H26.47a.66.66,0,0,1,.65.66v7.35A.65.65,0,0,1,26.47,61.43ZM14.7,60.13H25.82V54.08H14.7Z', style='fill:#fff')
        path(d='M29.33,54.08H11.19a.65.65,0,0,1-.65-.65.66.66,0,0,1,.65-.66H29.33a.66.66,0,0,1,.65.66A.65.65,0,0,1,29.33,54.08Z', style='fill:#fff')
        path(d='M22.47,54.14H18.05a.66.66,0,0,1-.56-.31l-5.22-8.71a.63.63,0,0,1,0-.66.65.65,0,0,1,.57-.33H27.69a.65.65,0,0,1,.57.33.63.63,0,0,1,0,.66L23,53.83A.66.66,0,0,1,22.47,54.14Zm-4-1.3H22.1l4.44-7.4H14Z', style='fill:#fff')
        path(d='M20.26,53.78a.66.66,0,0,1-.65-.66v-8a.65.65,0,0,1,1.3,0v8A.66.66,0,0,1,20.26,53.78Z', style='fill:#fff')
        path(d='M28,45.44H12.67l.07-.72c.43-4.39-4.12-7.89-4.17-7.93a20.26,20.26,0,1,1,23.36,0,9.16,9.16,0,0,0-4,7.94ZM14.07,44.13H26.62a10.58,10.58,0,0,1,4.58-8.41,18.95,18.95,0,1,0-21.86,0C9.56,35.9,14.08,39.38,14.07,44.13Z', style='fill:#fff')
        path(d='M15.19,44.79C15,40.13,10.29,33.12,10.24,33,6.09,27.4,6.05,20.24,6.05,19.93,6.05,5.63,16.6.44,16.71.39l.56,1.18c-.4.19-9.92,4.92-9.92,18.36,0,.07.06,7.05,4,12.36.22.32,5,7.42,5.19,12.46Z', style='fill:#fff')
        path(d='M25.32,44.79l-1.3,0c.17-5,5-12.14,5.18-12.44,3.92-5.34,4-12.31,4-12.38,0-13.48-9.82-18.31-9.92-18.36L23.81.39c.11,0,10.66,5.24,10.66,19.54,0,.31,0,7.47-4.21,13.13C30.23,33.12,25.48,40.14,25.32,44.79Z', style='fill:#fff')
        path(d='M18,44.7l-2.45-16C12.72,4.87,18.31.47,18.55.29l.77,1.05L18.93.82l.4.52s-5.19,4.4-2.52,27.18l2.44,16Z', style='fill:#fff')
        path(d='M22.56,44.7l-1.29-.19,2.45-16C26.39,5.74,21.24,1.38,21.19,1.34l.78-1c.24.18,5.83,4.58,3,28.38Z', style='fill:#fff')

  svg#hot-air-ballon-2(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 64.26 97.43')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        path(d='M42,97.43H22.29a1,1,0,0,1-1-1V84.74a1,1,0,0,1,1-1H42a1,1,0,0,1,1,1V96.4A1,1,0,0,1,42,97.43ZM23.32,95.36H40.94V85.77H23.32Z', style='fill:#fff')
        path(d='M46.51,85.77H17.75a1,1,0,1,1,0-2.07H46.51a1,1,0,1,1,0,2.07Z', style='fill:#fff')
        path(d='M35.63,85.87h-7a1,1,0,0,1-.88-.5l-8.3-13.81a1,1,0,0,1,0-1,1,1,0,0,1,.9-.53H43.92a1,1,0,0,1,.89,1.57L36.52,85.37A1,1,0,0,1,35.63,85.87ZM29.22,83.8H35l7.05-11.73H22.17Z', style='fill:#fff')
        path(d='M32.13,85.29a1,1,0,0,1-1-1V71.62a1,1,0,1,1,2.07,0V84.25A1,1,0,0,1,32.13,85.29Z', style='fill:#fff')
        path(d='M44.39,72.07H20.09l.11-1.14c.69-7-6.53-12.52-6.6-12.58a32.13,32.13,0,1,1,37,0c-.32.21-6.8,4.5-6.32,12.6ZM22.32,70h19.9c.06-8.62,7-13.14,7.26-13.34a30.06,30.06,0,1,0-34.66,0C15.17,56.94,22.33,62.46,22.32,70Z', style='fill:#fff')
        path(d='M24.1,71c-.25-7.39-7.78-18.52-7.85-18.63-6.59-8.95-6.66-20.32-6.66-20.8C9.59,8.94,26.33.7,26.5.62l.9,1.87c-.65.31-15.74,7.8-15.74,29.12,0,.11.09,11.18,6.28,19.6.34.51,8,11.78,8.23,19.76Z', style='fill:#fff')
        path(d='M40.17,71,38.09,71c.27-8,7.89-19.25,8.22-19.73,6.22-8.47,6.29-19.51,6.29-19.63,0-21.38-15.57-29-15.73-29.12L37.76.62c.17.08,16.92,8.32,16.92,31,0,.48-.08,11.85-6.68,20.83C47.94,52.52,40.41,63.66,40.17,71Z', style='fill:#fff')
        path(d='M28.49,70.9,24.6,45.5C20.17,7.73,29,.74,29.42.46l1.22,1.67L30,1.3l.63.82c-.08.06-8.24,7-4,43.11l3.88,25.36Z', style='fill:#fff')
        path(d='M35.78,70.9l-2.05-.31,3.89-25.4c4.23-36.08-3.93-43-4-43.07L34.85.46c.38.28,9.25,7.27,4.82,45Z', style='fill:#fff')

  svg#wind-1(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 174.7 48.28')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        path#line-1(d='M103.06,2.55C96.24,32.67,63.06,52.21,29,46.19A66.53,66.53,0,0,1,1,34.4', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        path(d='M173.7,1a48.83,48.83,0,0,1-7.94,6.07', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        path(d='M147.29,14A55.56,55.56,0,0,1,121.8,12.4', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;stroke-dasharray:15.858207702636719,19.8227596282959')
        path(d='M112.64,8.63a49,49,0,0,1-8.31-5.53', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')

  svg#star-1.hide(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 13.52 13.52')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        polygon(points='8.34 1 6.1 5.6 1 5.18 5.6 7.42 5.18 12.52 7.42 7.92 12.52 8.34 7.92 6.1 8.34 1', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')

  svg#wind-2(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 174.7 48.28')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        path#line-1(d='M103.06,45.73C96.24,15.6,63.06-3.93,29,2.09A66.52,66.52,0,0,0,1,13.87', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        path(d='M173.7,47.28a48.28,48.28,0,0,0-7.94-6.07', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        path(d='M147.29,34.33a55.43,55.43,0,0,0-25.49,1.55', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;stroke-dasharray:15.858207702636719,19.8227596282959')
        path(d='M112.64,39.65a48.41,48.41,0,0,0-8.31,5.53', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')

  svg#stars-1.hide(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 57.93 17.35')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        path(d='M21.56,1.45c1.76,2.43,3.77,1,2-1.45Z', style='fill:#fff')
        path(d='M.35,5.67l2-1.45C1.19,2.6-.82,4.05.35,5.67Z', style='fill:#fff')
        path(d='M55.92,17.35l2-1.46C56.17,13.46,54.16,14.92,55.92,17.35Z', style='fill:#fff')

  svg#star-2.hide(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 13.52 13.52')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        polygon(points='5.18 1 7.42 5.6 12.52 5.18 7.92 7.42 8.34 12.52 6.1 7.92 1 8.34 5.6 6.1 5.18 1', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')

  svg#stars-2.hide(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 57.93 17.35')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        path#two(d='M36.36,1.45c-1.75,2.43-3.76,1-2-1.45Z', style='fill:#fff')
        path#one(d='M57.57,5.67l-2-1.45C56.73,2.6,58.74,4.05,57.57,5.67Z', style='fill:#fff')
        path#three(d='M2,17.35,0,15.89C1.76,13.46,3.77,14.92,2,17.35Z', style='fill:#fff')

  svg#mountain-1.hide(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 178.8 119.02')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        polyline(points='177.8 61.06 148.51 20.68 130.07 46.56', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='154.48 78.67 93.19 1 62.83 40.35', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='85.6 75.56 49.81 27.93 1 91.09', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='119.23 92.65 84.52 49.67 32.45 118.02', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='113.94 27.67 104.58 38.93 92.38 23.78 87.5 28.44 79.37 19.9', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')

  svg#trees-1.hide(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 85.86 54.95')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        line(x1='73.63', y1='53.95', x2='73.63', y2='8.39', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='80.38 14.37 73.63 7.93 66.88 14.37', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='84.86 33.91 73.63 23.19 62.4 33.91', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='84.86 46.34 73.63 35.62 62.4 46.34', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        line(x1='12.23', y1='47.02', x2='12.23', y2='1.45', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='18.97 7.44 12.23 1 5.48 7.44', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='23.45 26.98 12.23 16.26 1 26.98', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='23.45 39.41 12.23 28.69 1 39.41', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        line(x1='40.43', y1='45.47', x2='40.43', y2='17.9', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='44.51 21.52 40.43 17.63 36.35 21.52', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='47.22 33.34 40.43 26.86 33.64 33.34', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='47.22 40.86 40.43 34.38 33.64 40.86', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')

  svg#hill-1.hide(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 276 64.04')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        path(d='M275,35.47A125.6,125.6,0,0,0,202,12.4c-41.83,0-78.75,20.05-100.8,50.64', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        path(d='M134.67,31.75a74.82,74.82,0,0,0-32.56-7.38A73.25,73.25,0,0,0,43,53.64', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        path(d='M109,1C83.23,1,61.69,9.26,43.87,24.49', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        path(d='M168.18,17c-7.78-5.13-14.35-9.23-23.5-12.12', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        path(d='M75.62,29.29a82.18,82.18,0,0,0-31-4.67A81.1,81.1,0,0,0,1,39.3', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')

  svg#building-1.hide(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 33.38 79.52')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        path(d='M17.13.52V12.69a.54.54,0,0,1-1.08,0V.52a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
        path(d='M17.77,3.66H15.41a.55.55,0,0,1,0-1.09h2.36a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
        path(d='M17.38,7.15H15.8a.55.55,0,0,1,0-1.09h1.58a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
        path(d='M17.6,9.74h-2a.54.54,0,0,1,0-1.08h2a.54.54,0,0,1,0,1.08Z', style='fill:#fff')
        path(d='M18.1,13.46H15.39a.55.55,0,0,1,0-1.09H18.1a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
        path(d='M30.6,25.17H2.1a.54.54,0,0,1,0-1.08H30.6a.54.54,0,0,1,0,1.08Z', style='fill:#fff')
        path(d='M18.75,13v2.14a.54.54,0,0,1-1.08,0V13a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
        path(d='M32.09,24.28a110.74,110.74,0,0,1-14-8.72c-.56-.41,0-1.35.54-.94a111,111,0,0,0,14,8.72c.62.33.07,1.26-.54.94Z', style='fill:#fff')
        path(d='M25.73,24.74V33a.54.54,0,0,1-1.08,0V24.74a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
        path(d='M32.86,37.35c-2.95,0-5.78-2.16-7.94-4-.53-.45.24-1.22.77-.77,1.89,1.62,4.6,3.67,7.17,3.69a.54.54,0,0,1,0,1.08Z', style='fill:#fff')
        path(d='M15.71,13v2.14a.54.54,0,0,1-1.08,0V13a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
        path(d='M.74,23.34a109.61,109.61,0,0,0,14-8.72c.57-.41,1.11.53.55.94a110.74,110.74,0,0,1-14,8.72c-.62.32-1.16-.61-.55-.94Z', style='fill:#fff')
        path(d='M1.36,23.48a4.59,4.59,0,0,0,1.44.66c.68.16.39,1.21-.29,1a5.05,5.05,0,0,1-1.69-.76c-.57-.4,0-1.34.54-.94Z', style='fill:#fff')
        path(d='M8.73,24.74V33a.55.55,0,0,1-1.09,0V24.74a.55.55,0,0,1,1.09,0Z', style='fill:#fff')
        path(d='M.52,36.27c2.57,0,5.28-2.07,7.17-3.69.53-.45,1.3.32.77.77-2.16,1.84-5,4-7.94,4a.54.54,0,0,1,0-1.08Z', style='fill:#fff')
        path(d='M1.14,36.73a2.23,2.23,0,0,0,1,.78c.64.26.36,1.31-.29,1.05A3.7,3.7,0,0,1,.2,37.27c-.41-.56.53-1.1.94-.54Z', style='fill:#fff')
        path(d='M31.39,38.58H2.21a.55.55,0,0,1,0-1.09H31.39a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
        path(d='M25.42,33.51H7.85a.55.55,0,0,1,0-1.09H25.42a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
        path(d='M20.41,30.82h3l-.54.54V26.91l.54.54h-3l.55-.54v4.45a.55.55,0,0,1-1.09,0V26.91a.55.55,0,0,1,.54-.54h3a.55.55,0,0,1,.54.54v4.45a.55.55,0,0,1-.54.54h-3A.54.54,0,0,1,20.41,30.82Z', style='fill:#fff')
        path(d='M15,30.82h3l-.54.54V26.91l.54.54H15l.54-.54v4.45a.54.54,0,0,1-1.08,0V26.91a.54.54,0,0,1,.54-.54h3a.54.54,0,0,1,.54.54v4.45a.54.54,0,0,1-.54.54H15A.54.54,0,0,1,15,30.82Z', style='fill:#fff')
        path(d='M9.56,30.82h3l-.55.54V26.91l.55.54h-3l.54-.54v4.45a.54.54,0,0,1-1.08,0V26.91a.55.55,0,0,1,.54-.54h3a.55.55,0,0,1,.54.54v4.45a.55.55,0,0,1-.54.54h-3A.54.54,0,0,1,9.56,30.82Z', style='fill:#fff')
        path(d='M25.73,38.26v8.22a.54.54,0,0,1-1.08,0V38.26a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
        path(d='M32.86,50.87c-2.95,0-5.78-2.16-7.94-4-.53-.46.24-1.22.77-.77,1.89,1.61,4.6,3.66,7.17,3.68a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
        path(d='M8.73,38.26v8.22a.55.55,0,0,1-1.09,0V38.26a.55.55,0,0,1,1.09,0Z', style='fill:#fff')
        path(d='M.52,49.78c2.57,0,5.28-2.07,7.17-3.68.53-.45,1.3.31.77.77-2.16,1.84-5,4-7.94,4a.55.55,0,0,1,0-1.09Z', style='fill:#fff')
        path(d='M1.14,50.24a2.19,2.19,0,0,0,1,.79c.64.26.36,1.31-.29,1A3.7,3.7,0,0,1,.2,50.79c-.41-.56.53-1.11.94-.55Z', style='fill:#fff')
        path(d='M31.39,52.09H2.21a.54.54,0,0,1,0-1.08H31.39a.54.54,0,0,1,0,1.08Z', style='fill:#fff')
        path(d='M25.42,47H7.85a.55.55,0,0,1,0-1.09H25.42a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
        path(d='M20.41,44.34h3l-.54.54V40.43l.54.54h-3l.55-.54v4.45a.55.55,0,0,1-1.09,0V40.43a.55.55,0,0,1,.54-.54h3a.55.55,0,0,1,.54.54v4.45a.55.55,0,0,1-.54.54h-3A.54.54,0,0,1,20.41,44.34Z', style='fill:#fff')
        path(d='M15,44.34h3l-.54.54V40.43L18,41H15l.54-.54v4.45a.54.54,0,0,1-1.08,0V40.43a.54.54,0,0,1,.54-.54h3a.54.54,0,0,1,.54.54v4.45a.54.54,0,0,1-.54.54H15A.54.54,0,0,1,15,44.34Z', style='fill:#fff')
        path(d='M9.56,44.34h3l-.55.54V40.43l.55.54h-3l.54-.54v4.45a.54.54,0,0,1-1.08,0V40.43a.55.55,0,0,1,.54-.54h3a.55.55,0,0,1,.54.54v4.45a.55.55,0,0,1-.54.54h-3A.54.54,0,0,1,9.56,44.34Z', style='fill:#fff')
        path(d='M25.73,51.55v8.23a.54.54,0,0,1-1.08,0V51.55a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
        path(d='M32.86,64.16c-2.95,0-5.78-2.16-7.94-4-.53-.45.24-1.22.77-.77,1.89,1.62,4.6,3.67,7.17,3.69a.54.54,0,0,1,0,1.08Z', style='fill:#fff')
        path(d='M8.73,51.55v8.23a.55.55,0,0,1-1.09,0V51.55a.55.55,0,0,1,1.09,0Z', style='fill:#fff')
        path(d='M.52,63.08c2.57,0,5.28-2.07,7.17-3.69.53-.45,1.3.32.77.77-2.16,1.84-5,4-7.94,4a.54.54,0,0,1,0-1.08Z', style='fill:#fff')
        path(d='M1.14,63.54a2.23,2.23,0,0,0,1,.78c.64.26.36,1.31-.29,1.05A3.7,3.7,0,0,1,.2,64.08c-.41-.56.53-1.1.94-.54Z', style='fill:#fff')
        path(d='M31.39,65.39H2.21a.55.55,0,0,1,0-1.09H31.39a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
        path(d='M25.42,60.32H7.85a.55.55,0,0,1,0-1.09H25.42a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
        path(d='M20.41,57.63h3l-.54.54V53.72l.54.54h-3l.55-.54v4.45a.55.55,0,0,1-1.09,0V53.72a.55.55,0,0,1,.54-.54h3a.55.55,0,0,1,.54.54v4.45a.55.55,0,0,1-.54.54h-3A.54.54,0,0,1,20.41,57.63Z', style='fill:#fff')
        path(d='M15,57.63h3l-.54.54V53.72l.54.54H15l.54-.54v4.45a.54.54,0,0,1-1.08,0V53.72a.54.54,0,0,1,.54-.54h3a.54.54,0,0,1,.54.54v4.45a.54.54,0,0,1-.54.54H15A.54.54,0,0,1,15,57.63Z', style='fill:#fff')
        path(d='M9.56,57.63h3l-.55.54V53.72l.55.54h-3l.54-.54v4.45a.54.54,0,0,1-1.08,0V53.72a.55.55,0,0,1,.54-.54h3a.55.55,0,0,1,.54.54v4.45a.55.55,0,0,1-.54.54h-3A.54.54,0,0,1,9.56,57.63Z', style='fill:#fff')
        path(d='M25.73,65v8.22a.54.54,0,0,1-1.08,0V65a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
        path(d='M8.73,65v8.22a.55.55,0,0,1-1.09,0V65a.55.55,0,0,1,1.09,0Z', style='fill:#fff')
        path(d='M20.41,71.07h3l-.54.54V67.16l.54.55h-3l.55-.55v4.45a.55.55,0,0,1-1.09,0V67.16a.55.55,0,0,1,.54-.54h3a.55.55,0,0,1,.54.54v4.45a.55.55,0,0,1-.54.55h-3A.55.55,0,0,1,20.41,71.07Z', style='fill:#fff')
        path(d='M15,71.07h3l-.54.54V67.16l.54.55H15l.54-.55v4.45a.54.54,0,0,1-1.08,0V67.16a.54.54,0,0,1,.54-.54h3a.54.54,0,0,1,.54.54v4.45a.55.55,0,0,1-.54.55H15A.55.55,0,0,1,15,71.07Z', style='fill:#fff')
        path(d='M9.56,71.07h3l-.55.54V67.16l.55.55h-3l.54-.55v4.45a.54.54,0,0,1-1.08,0V67.16a.55.55,0,0,1,.54-.54h3a.55.55,0,0,1,.54.54v4.45a.55.55,0,0,1-.54.55h-3A.55.55,0,0,1,9.56,71.07Z', style='fill:#fff')
        path(d='M27.18,74H6.23a.55.55,0,0,1,0-1.09h21a.55.55,0,0,1,0,1.09Z', style='fill:#fff')
        path(d='M27.88,73.52v2.1a.55.55,0,0,1-1.09,0v-2.1a.55.55,0,0,1,1.09,0Z', style='fill:#fff')
        path(d='M30,76.39h-2.7a.54.54,0,0,1,0-1.08H30a.54.54,0,0,1,0,1.08Z', style='fill:#fff')
        path(d='M30.58,76v2.93a.54.54,0,0,1-1.08,0V76a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
        path(d='M6.77,73.52v2.1a.54.54,0,0,1-1.08,0v-2.1a.54.54,0,0,1,1.08,0Z', style='fill:#fff')
        path(d='M6.23,76.31H2.78a.54.54,0,0,1,0-1.08H6.23a.54.54,0,0,1,0,1.08Z', style='fill:#fff')
        path(d='M3.32,75.85V79a.55.55,0,0,1-1.09,0V75.85a.55.55,0,0,1,1.09,0Z', style='fill:#fff')




  svg#mountain-2.hide(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 178.8 119.02')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        polyline(points='1 61.06 30.29 20.68 48.72 46.56', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='24.32 78.67 85.6 1 115.97 40.35', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='93.19 75.56 128.99 27.93 177.8 91.09', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='59.57 92.65 94.28 49.67 146.34 118.02', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='64.86 27.67 74.21 38.93 86.42 23.78 91.3 28.44 99.43 19.9', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')

  svg#trees-2.hide(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 58.46 48.59')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        line(x1='12.23', y1='47.59', x2='12.23', y2='2.03', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='5.48 8.01 12.23 1.57 18.97 8.01', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='1 27.55 12.23 16.83 23.45 27.55', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='1 39.98 12.23 29.26 23.45 39.98', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        line(x1='46.23', y1='47.02', x2='46.23', y2='1.45', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='39.48 7.44 46.23 1 52.97 7.44', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='35 26.98 46.23 16.26 57.45 26.98', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        polyline(points='35 39.41 46.23 28.69 57.45 39.41', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')

  svg#hill-2.hide(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 276 65.04')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        path(d='M1,36.47A125.6,125.6,0,0,1,74,13.4c41.83,0,78.75,20.05,100.8,50.64', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        path(d='M141.33,32.75a74.82,74.82,0,0,1,32.56-7.38A73.25,73.25,0,0,1,233,54.64', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        path(d='M107.82,18a104.51,104.51,0,0,1,124.31,7.52', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')
        path(d='M200.38,30.29a82.18,82.18,0,0,1,31-4.67A81.1,81.1,0,0,1,275,40.3', style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px')

  svg#building-2.hide(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 78.84 76.03')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        path(d='M19.8,45.53C27,42.9,32.22,33.4,35.12,26.85,38.8,18.54,39.77,9.6,39.79.6a.62.62,0,0,0-1.23,0c0,7.52-.66,15-3.16,22.19S27.18,41.51,19.47,44.33c-.74.28-.42,1.47.33,1.2Z', style='fill:#fff')
        path(d='M19.37,45.69a14.07,14.07,0,0,0,3.27,1.57c.75.25,1.07-.94.32-1.19a13.08,13.08,0,0,1-3-1.44c-.67-.44-1.29.63-.63,1.06Z', style='fill:#fff')
        path(d='M38.77,19.73C35.93,32.18,28.25,42.44,18.46,50.41c-5,4.06-11.6,9.26-18,10.88-.77.19-.44,1.38.33,1.19,6.69-1.68,13.35-6.94,18.57-11.19C29.28,43.18,37.08,32.7,40,20.05c.18-.77-1-1.1-1.19-.32Z', style='fill:#fff')
        path(d='M26,43.84V75.3a.62.62,0,0,0,1.23,0V43.84a.62.62,0,0,0-1.23,0Z', style='fill:#fff')
        path(d='M5.21,63.81a79.47,79.47,0,0,0,21.85-16.6c.55-.58-.33-1.45-.87-.87a78.67,78.67,0,0,1-21.6,16.4c-.71.37-.08,1.43.62,1.07Z', style='fill:#fff')
        path(d='M20.5,53.31h6.08a.62.62,0,0,0,0-1.23H20.5a.62.62,0,0,0,0,1.23Z', style='fill:#fff')
        path(d='M19.88,52.83v5.55a.62.62,0,0,0,1.24,0V52.83a.62.62,0,0,0-1.24,0Z', style='fill:#fff')
        path(d='M14.07,57.72V75.17a.62.62,0,0,0,1.23,0V57.72a.62.62,0,0,0-1.23,0Z', style='fill:#fff')
        path(d='M9.84,60.5V75a.62.62,0,0,0,1.23,0V60.5a.62.62,0,0,0-1.23,0Z', style='fill:#fff')
        path(d='M14.82,59.26H26.58a.62.62,0,0,0,0-1.23H14.82a.62.62,0,0,0,0,1.23Z', style='fill:#fff')
        path(d='M15.19,63.38A3.57,3.57,0,0,1,18,61.91a2.31,2.31,0,0,1,2,1.93c.16.78,1.35.45,1.19-.32a3.54,3.54,0,0,0-2.81-2.8,4.56,4.56,0,0,0-4,1.79c-.54.58.33,1.45.88.87Z', style='fill:#fff')
        path(d='M21.36,63.83a2.4,2.4,0,0,1,4.24-.77c.51.61,1.38-.27.88-.87a3.64,3.64,0,0,0-6.31,1.32c-.23.76,1,1.08,1.19.32Z', style='fill:#fff')
        path(d='M24.74,55.67a1.05,1.05,0,0,1-2.1,0,1.05,1.05,0,0,1,2.1,0c.05.79,1.28.8,1.24,0a2.29,2.29,0,1,0-4.58,0,2.29,2.29,0,0,0,4.58,0C26,54.88,24.79,54.88,24.74,55.67Z', style='fill:#fff')
        path(d='M59.37,44.33c-7.78-2.85-13.43-14.25-16.1-21.54C40.65,15.67,39.87,8.14,39.84.6a.62.62,0,0,0-1.23,0c0,9,1.21,18,5,26.25,3,6.51,8.28,16,15.43,18.68.75.27,1.07-.92.33-1.2Z', style='fill:#fff')
        path(d='M58.84,44.63a13.08,13.08,0,0,1-3,1.44c-.75.25-.43,1.44.33,1.19a14.2,14.2,0,0,0,3.26-1.57c.66-.43,0-1.5-.63-1.06Z', style='fill:#fff')
        path(d='M38.88,20.05c2.88,12.64,10.68,23.13,20.63,31.24,5.21,4.25,11.87,9.51,18.56,11.19a.62.62,0,0,0,.33-1.19c-6.42-1.62-13-6.82-18-10.88-9.8-7.94-17.47-18.25-20.31-30.68-.18-.78-1.37-.45-1.19.32Z', style='fill:#fff')
        path(d='M51.64,43.84v31.6a.62.62,0,0,0,1.24,0V43.84a.62.62,0,0,0-1.24,0Z', style='fill:#fff')
        path(d='M74.25,62.74a78.82,78.82,0,0,1-21.6-16.4c-.54-.58-1.41.29-.87.87a79.62,79.62,0,0,0,21.85,16.6c.7.36,1.33-.7.62-1.07Z', style='fill:#fff')
        path(d='M58.34,52.08H52.26a.62.62,0,0,0,0,1.23h6.08a.62.62,0,0,0,0-1.23Z', style='fill:#fff')
        path(d='M57.72,52.83v5.55a.62.62,0,0,0,1.24,0V52.83a.62.62,0,0,0-1.24,0Z', style='fill:#fff')
        path(d='M63.54,57.72V75.17a.62.62,0,0,0,1.24,0V57.72a.62.62,0,0,0-1.24,0Z', style='fill:#fff')
        path(d='M64,58H52.23a.62.62,0,0,0,0,1.23H64A.62.62,0,0,0,64,58Z', style='fill:#fff')
        path(d='M64.53,62.51a4.56,4.56,0,0,0-4-1.79,3.52,3.52,0,0,0-2.8,2.8c-.16.77,1,1.1,1.19.32a2.29,2.29,0,0,1,2-1.93,3.59,3.59,0,0,1,2.77,1.47c.54.58,1.41-.29.87-.87Z', style='fill:#fff')
        path(d='M58.67,63.51a3.63,3.63,0,0,0-6.3-1.32c-.51.6.36,1.48.87.87a2.4,2.4,0,0,1,4.24.77c.23.76,1.43.44,1.19-.32Z', style='fill:#fff')
        path(d='M52.86,55.67a2.29,2.29,0,0,0,4.58,0,2.29,2.29,0,0,0-4.58,0c0,.79,1.2.79,1.24,0a1.06,1.06,0,0,1,2.11,0,1.06,1.06,0,0,1-2.11,0C54.06,54.88,52.82,54.88,52.86,55.67Z', style='fill:#fff')
        path(d='M37.58,27.64v-.18a.62.62,0,0,0-1.24,0v6.79a.62.62,0,0,0,1.24,0V27.46a.62.62,0,0,0-1.24,0v.18a.62.62,0,0,0,1.24,0Z', style='fill:#fff')
        path(d='M37,28.06h4a.62.62,0,0,0,0-1.23H37a.62.62,0,0,0,0,1.23Z', style='fill:#fff')
        path(d='M40.77,27.51v6.94a.62.62,0,0,0,1.24,0V27.51a.62.62,0,0,0-1.24,0Z', style='fill:#fff')
        path(d='M33.39,35.07H45.23a.62.62,0,0,0,0-1.24H33.39a.62.62,0,0,0,0,1.24Z', style='fill:#fff')
        path(d='M32.84,34.58v7.8a.62.62,0,0,0,1.24,0v-7.8a.62.62,0,0,0-1.24,0Z', style='fill:#fff')
        path(d='M44.41,34.25v8.2a.62.62,0,0,0,1.23,0v-8.2a.62.62,0,0,0-1.23,0Z', style='fill:#fff')
        path(d='M27.64,43.07H51.37a.62.62,0,0,0,0-1.24H27.64a.62.62,0,0,0,0,1.24Z', style='fill:#fff')
        path(d='M30.53,42.71V75.24a.62.62,0,0,0,1.23,0V42.71a.62.62,0,0,0-1.23,0Z', style='fill:#fff')
        path(d='M46.19,43V75.24a.62.62,0,0,0,1.24,0V43a.62.62,0,0,0-1.24,0Z', style='fill:#fff')
        path(d='M31.7,54.45c1.37-2.65,5.79-1.43,6.49,1.12a.62.62,0,0,0,1.19-.33c-1-3.55-6.87-5-8.74-1.41-.36.7.7,1.33,1.06.62Z', style='fill:#fff')
        path(d='M39.51,55.77c.38-1.41,1-2.47,2.55-2.67,1.31-.16,2.9.06,3.63,1.3a.61.61,0,0,0,1.06-.62c-1-1.69-3-2.14-4.86-1.9-2.11.26-3,1.62-3.57,3.57a.62.62,0,0,0,1.19.32Z', style='fill:#fff')
        path(d='M35.51,60.92h7.07a.62.62,0,0,0,0-1.24H35.51a.62.62,0,0,0,0,1.24Z', style='fill:#fff')
        path(d='M34.76,60.3V75.17a.62.62,0,0,0,1.23,0V60.3a.62.62,0,0,0-1.23,0Z', style='fill:#fff')
        path(d='M42.1,60.5V75.11a.62.62,0,0,0,1.23,0V60.5a.62.62,0,0,0-1.23,0Z', style='fill:#fff')
        path(d='M24.74,55.67a1.05,1.05,0,0,1-2.1,0,1.05,1.05,0,0,1,2.1,0c.05.79,1.28.8,1.24,0a2.29,2.29,0,1,0-4.58,0,2.29,2.29,0,0,0,4.58,0C26,54.88,24.79,54.88,24.74,55.67Z', style='fill:#fff')
        path(d='M37.73,38.74a1.06,1.06,0,0,1-2.11,0,1.06,1.06,0,0,1,2.11,0c0,.79,1.28.8,1.23,0A2.29,2.29,0,1,0,36.58,41,2.31,2.31,0,0,0,39,38.74C39,38,37.77,38,37.73,38.74Z', style='fill:#fff')
        path(d='M42.65,38.74a1.06,1.06,0,0,1-2.11,0,1.06,1.06,0,0,1,2.11,0c0,.79,1.28.8,1.24,0A2.29,2.29,0,1,0,41.51,41a2.33,2.33,0,0,0,2.38-2.29C43.93,38,42.69,38,42.65,38.74Z', style='fill:#fff')

  svg#wave-md-1(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 77.04 15.04')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        g#line-1
          path#first(d='M6.2,0h0a8,8,0,0,1,6,2.71,6.41,6.41,0,0,0,4.74,2.15h0A6.35,6.35,0,0,0,21.65,2.7a8.06,8.06,0,0,1,6-2.7h0a8,8,0,0,1,6,2.71.84.84,0,1,1-1.25,1.13,6.34,6.34,0,0,0-4.73-2.15h0A6.38,6.38,0,0,0,22.9,3.84a8,8,0,0,1-6,2.7h0a8,8,0,0,1-6-2.7A6.34,6.34,0,0,0,6.21,1.69h0A6.34,6.34,0,0,0,1.47,3.84.84.84,0,0,1,.22,2.71,8,8,0,0,1,6.2,0Z', style='fill:#fff')
          path#second(d='M27.7,0h0a8,8,0,0,1,6,2.71,6.41,6.41,0,0,0,4.74,2.15h0A6.35,6.35,0,0,0,43.15,2.7a8.06,8.06,0,0,1,6-2.7h0a8,8,0,0,1,6,2.71.84.84,0,0,1-.06,1.19.85.85,0,0,1-1.19-.06,6.34,6.34,0,0,0-4.73-2.15h0A6.38,6.38,0,0,0,44.4,3.84a8,8,0,0,1-6,2.7h0a8,8,0,0,1-6-2.7,6.34,6.34,0,0,0-4.73-2.15h0A6.34,6.34,0,0,0,23,3.84a.84.84,0,0,1-1.25-1.13A8,8,0,0,1,27.7,0Z', style='fill:#fff')
          path#third(d='M49.4,0h0a8,8,0,0,1,6,2.71,6.39,6.39,0,0,0,4.74,2.15h0A6.35,6.35,0,0,0,64.85,2.7a8,8,0,0,1,6-2.7h0a8,8,0,0,1,6,2.71.84.84,0,1,1-1.25,1.13,6.37,6.37,0,0,0-4.73-2.15h0A6.35,6.35,0,0,0,66.1,3.84a8,8,0,0,1-6,2.7h0a8.06,8.06,0,0,1-6-2.7,6.32,6.32,0,0,0-4.72-2.15h0a6.34,6.34,0,0,0-4.73,2.15.85.85,0,0,1-1.2.06.84.84,0,0,1,0-1.19A8,8,0,0,1,49.4,0Z', style='fill:#fff')
        g#line-2
          path#first(d='M6.2,8.5h0a8,8,0,0,1,6,2.7,6.38,6.38,0,0,0,4.74,2.15h0a6.34,6.34,0,0,0,4.73-2.15,8.06,8.06,0,0,1,6-2.7h0a8,8,0,0,1,6,2.7.85.85,0,0,1-1.25,1.14,6.35,6.35,0,0,0-4.73-2.16h0a6.39,6.39,0,0,0-4.74,2.16,8,8,0,0,1-6,2.7h0a8,8,0,0,1-6-2.7,6.38,6.38,0,0,0-4.73-2.16h0a6.35,6.35,0,0,0-4.73,2.16.84.84,0,0,1-1.19.05A.84.84,0,0,1,.22,11.2,8,8,0,0,1,6.2,8.5Z', style='fill:#fff')
          path#second(d='M27.7,8.5h0a8,8,0,0,1,6,2.7,6.38,6.38,0,0,0,4.74,2.15h0a6.34,6.34,0,0,0,4.73-2.15,8.06,8.06,0,0,1,6-2.7h0a8,8,0,0,1,6,2.7.85.85,0,0,1-1.25,1.14,6.35,6.35,0,0,0-4.73-2.16h0a6.39,6.39,0,0,0-4.74,2.16,8,8,0,0,1-6,2.7h0a8,8,0,0,1-6-2.7,6.38,6.38,0,0,0-4.73-2.16h0A6.35,6.35,0,0,0,23,12.34a.85.85,0,0,1-1.25-1.14A8,8,0,0,1,27.7,8.5Z', style='fill:#fff')
          path#third(d='M49.4,8.5h0a8,8,0,0,1,6,2.7,6.36,6.36,0,0,0,4.74,2.15h0a6.34,6.34,0,0,0,4.73-2.15,8,8,0,0,1,6-2.7h0a8,8,0,0,1,6,2.7.85.85,0,0,1-.06,1.19.84.84,0,0,1-1.19-.05,6.38,6.38,0,0,0-4.73-2.16h0a6.36,6.36,0,0,0-4.73,2.16,8,8,0,0,1-6,2.7h0a8.06,8.06,0,0,1-6-2.7,6.36,6.36,0,0,0-4.72-2.16h0a6.35,6.35,0,0,0-4.73,2.16.85.85,0,0,1-1.2.05.84.84,0,0,1,0-1.19A8,8,0,0,1,49.4,8.5Z', style='fill:#fff')


  svg#wave-sm-1(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 33.84 15.04')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        path(d='M6.2,8.5h0a8,8,0,0,1,6,2.7,6.38,6.38,0,0,0,4.74,2.15h0a6.34,6.34,0,0,0,4.73-2.15,8.06,8.06,0,0,1,6-2.7h0a8,8,0,0,1,6,2.7.85.85,0,0,1-1.25,1.14,6.35,6.35,0,0,0-4.73-2.16h0a6.39,6.39,0,0,0-4.74,2.16,8,8,0,0,1-6,2.7h0a8,8,0,0,1-6-2.7,6.38,6.38,0,0,0-4.73-2.16h0a6.35,6.35,0,0,0-4.73,2.16.84.84,0,0,1-1.19.05A.84.84,0,0,1,.22,11.2,8,8,0,0,1,6.2,8.5Z', style='fill:#fff')
        path(d='M6.2,0h0a8,8,0,0,1,6,2.71,6.41,6.41,0,0,0,4.74,2.15h0A6.35,6.35,0,0,0,21.65,2.7a8.06,8.06,0,0,1,6-2.7h0a8,8,0,0,1,6,2.71.84.84,0,0,1-.06,1.19.85.85,0,0,1-1.19-.06,6.34,6.34,0,0,0-4.73-2.15h0A6.38,6.38,0,0,0,22.9,3.84a8,8,0,0,1-6,2.7h0a8,8,0,0,1-6-2.7A6.34,6.34,0,0,0,6.21,1.69h0A6.34,6.34,0,0,0,1.47,3.84.84.84,0,0,1,.22,2.71,8,8,0,0,1,6.2,0Z', style='fill:#fff')

  svg#wave-md-2(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 77.04 15.04')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        g#line-1
          path#first(d='M27.63,0h0a8,8,0,0,0-6,2.71,6.37,6.37,0,0,1-4.73,2.15h0A6.39,6.39,0,0,1,12.18,2.7,8,8,0,0,0,6.2,0h0a8,8,0,0,0-6,2.71A.84.84,0,0,0,.28,3.9a.85.85,0,0,0,1.19-.06A6.34,6.34,0,0,1,6.2,1.69h0a6.34,6.34,0,0,1,4.73,2.15,8.06,8.06,0,0,0,6,2.7h0a8,8,0,0,0,6-2.7,6.34,6.34,0,0,1,4.73-2.15h0a6.36,6.36,0,0,1,4.74,2.15.85.85,0,0,0,1.19.06.84.84,0,0,0,.06-1.19A8,8,0,0,0,27.63,0Z', style='fill:#fff')
          path#second(d='M49.33,0h0a8,8,0,0,0-6,2.71,6.37,6.37,0,0,1-4.73,2.15h0A6.39,6.39,0,0,1,33.88,2.7a8,8,0,0,0-6-2.7h0a8,8,0,0,0-6,2.71A.84.84,0,0,0,22,3.9a.86.86,0,0,0,1.2-.06A6.34,6.34,0,0,1,27.9,1.69h0a6.34,6.34,0,0,1,4.73,2.15,8.06,8.06,0,0,0,6,2.7h0a8,8,0,0,0,6-2.7,6.33,6.33,0,0,1,4.72-2.15h0a6.38,6.38,0,0,1,4.74,2.15.84.84,0,1,0,1.25-1.13A8,8,0,0,0,49.33,0Z', style='fill:#fff')
          path#third(d='M70.83,0h0a8,8,0,0,0-6,2.71,6.37,6.37,0,0,1-4.73,2.15h0A6.39,6.39,0,0,1,55.38,2.7a8,8,0,0,0-6-2.7h0a8,8,0,0,0-6,2.71.84.84,0,0,0,0,1.19.86.86,0,0,0,1.2-.06A6.34,6.34,0,0,1,49.4,1.69h0a6.34,6.34,0,0,1,4.73,2.15,8.06,8.06,0,0,0,6,2.7h0a8,8,0,0,0,6-2.7,6.33,6.33,0,0,1,4.72-2.15h0a6.38,6.38,0,0,1,4.74,2.15.84.84,0,1,0,1.25-1.13A8,8,0,0,0,70.83,0Z', style='fill:#fff')
        g#line-2
          path#first(d='M27.63,8.5h0a8,8,0,0,0-6,2.7,6.34,6.34,0,0,1-4.73,2.15h0a6.38,6.38,0,0,1-4.74-2.15,8,8,0,0,0-6-2.7h0a8,8,0,0,0-6,2.7.84.84,0,0,0,.06,1.19.84.84,0,0,0,1.19-.05A6.35,6.35,0,0,1,6.2,10.18h0a6.35,6.35,0,0,1,4.73,2.16,8.06,8.06,0,0,0,6,2.7h0a8,8,0,0,0,6-2.7,6.38,6.38,0,0,1,4.73-2.16h0a6.37,6.37,0,0,1,4.74,2.16.85.85,0,0,0,1.25-1.14A8.06,8.06,0,0,0,27.63,8.5Z', style='fill:#fff')
          path#second(d='M49.33,8.5h0a8,8,0,0,0-6,2.7,6.34,6.34,0,0,1-4.73,2.15h0a6.38,6.38,0,0,1-4.74-2.15,8,8,0,0,0-6-2.7h0a8,8,0,0,0-6,2.7.84.84,0,0,0,0,1.19.85.85,0,0,0,1.2-.05,6.35,6.35,0,0,1,4.73-2.16h0a6.35,6.35,0,0,1,4.73,2.16,8.06,8.06,0,0,0,6,2.7h0a8,8,0,0,0,6-2.7,6.38,6.38,0,0,1,4.72-2.16h0a6.39,6.39,0,0,1,4.74,2.16.84.84,0,0,0,1.19.05.85.85,0,0,0,.06-1.19A8.06,8.06,0,0,0,49.33,8.5Z', style='fill:#fff')
          path#third(d='M70.83,8.5h0a8,8,0,0,0-6,2.7,6.34,6.34,0,0,1-4.73,2.15h0a6.38,6.38,0,0,1-4.74-2.15,8,8,0,0,0-6-2.7h0a8,8,0,0,0-6,2.7.84.84,0,0,0,0,1.19.85.85,0,0,0,1.2-.05,6.35,6.35,0,0,1,4.73-2.16h0a6.35,6.35,0,0,1,4.73,2.16,8.06,8.06,0,0,0,6,2.7h0a8,8,0,0,0,6-2.7,6.38,6.38,0,0,1,4.72-2.16h0a6.39,6.39,0,0,1,4.74,2.16.84.84,0,0,0,1.19.05.85.85,0,0,0,.06-1.19A8.06,8.06,0,0,0,70.83,8.5Z', style='fill:#fff')

  svg#wave-sm-2(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 33.84 15.04')
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        path(d='M27.63,8.5h0a8,8,0,0,0-6,2.7,6.34,6.34,0,0,1-4.73,2.15h0a6.38,6.38,0,0,1-4.74-2.15,8,8,0,0,0-6-2.7h0a8,8,0,0,0-6,2.7.84.84,0,0,0,.06,1.19.84.84,0,0,0,1.19-.05A6.35,6.35,0,0,1,6.2,10.18h0a6.35,6.35,0,0,1,4.73,2.16,8.06,8.06,0,0,0,6,2.7h0a8,8,0,0,0,6-2.7,6.38,6.38,0,0,1,4.73-2.16h0a6.37,6.37,0,0,1,4.74,2.16.85.85,0,0,0,1.25-1.14A8.06,8.06,0,0,0,27.63,8.5Z', style='fill:#fff')
        path(d='M27.63,0h0a8,8,0,0,0-6,2.71,6.37,6.37,0,0,1-4.73,2.15h0A6.39,6.39,0,0,1,12.18,2.7,8,8,0,0,0,6.2,0h0a8,8,0,0,0-6,2.71A.84.84,0,0,0,1.47,3.84,6.34,6.34,0,0,1,6.2,1.69h0a6.34,6.34,0,0,1,4.73,2.15,8.06,8.06,0,0,0,6,2.7h0a8,8,0,0,0,6-2.7,6.34,6.34,0,0,1,4.73-2.15h0a6.36,6.36,0,0,1,4.74,2.15.84.84,0,1,0,1.25-1.13A8,8,0,0,0,27.63,0Z', style='fill:#fff')

  div#clouds-bg


  #clouds
    svg#bubble-1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 1369.71 738.86')
      defs
        lineargradient#linear-gradient(x1='684.86', y1='719.36', x2='684.86', y2='313.38', gradientunits='userSpaceOnUse')
          stop(offset='0', stop-color='#f04e30')
          stop(offset='0.51', stop-color='#ee3124')
      g#Layer_2(data-name='Layer 2')
        g#Layer_1-2(data-name='Layer 1')
          path(d='M1369.71,738.86l-3-645.69a39.33,39.33,0,0,0-20.53,41.52c-1.43.49-2.83,1-4.23,1.57-11.73-14.16-36.17-14.55-55.7-.49-20.19,14.54-27.46,39-16.23,54.55a27.38,27.38,0,0,0,7.14,6.82,118.49,118.49,0,0,0-11,50.06c0,.85,0,1.68.06,2.53-1.13-.11-2.27-.18-3.43-.18a38.38,38.38,0,0,0-38.24,35.16,119.14,119.14,0,0,0-12.78-2.16,39.55,39.55,0,0,0-78,9.12,40,40,0,0,0,1,8.54,119.63,119.63,0,0,0-29.13,26,53.57,53.57,0,0,0-57.45,12.07A67.53,67.53,0,0,0,986,326.49a98.7,98.7,0,0,0-3.56-12.63,35.47,35.47,0,1,0-38.73-49.66,99.75,99.75,0,0,0-154.35,71.26c-3.39-.34-6.82-.52-10.29-.52a99.77,99.77,0,0,0-92.71,62.92,150.62,150.62,0,0,0-115.09,9.68,68,68,0,0,0-126,2,113.64,113.64,0,0,0-28.35-23.71,68,68,0,0,0-86.67-91.17c-.51-.63-1-1.27-1.52-1.89a35.46,35.46,0,0,0-37.42-59.6A50,50,0,0,0,196,239.5a147.87,147.87,0,0,0-16.15,2.73,48.56,48.56,0,0,0-48.36-44.47c-1.47,0-2.91.1-4.34.22,0-1.06.07-2.12.07-3.19A150.61,150.61,0,0,0,26,52.51a50.09,50.09,0,0,0,.71-8.28A50,50,0,0,0,0,0L3,738.86Z', style='fill:url(#linear-gradient)')

    svg#bubble-2(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1366.71 615.02')
      g#Layer_2(data-name='Layer 2')
        g#Layer_1-2(data-name='Layer 1')
          path(d='M0,615V93.17a39.53,39.53,0,0,1,21.09,35,39.2,39.2,0,0,1-.56,6.55c1.42.49,2.83,1,4.22,1.57,11.74-14.16,67.54,59.05,64.8,60.88a118.49,118.49,0,0,1,11,50.06c0,.85,0,1.68-.06,2.53,1.13-.11,2.27-.18,3.43-.18a38.39,38.39,0,0,1,38.24,35.16c4.18-.94,105.05-70.91,155.74,51.33,11.55-9.24,46.88-12.55,62.82-12.55a67.35,67.35,0,0,1,19.94,3c.92-4.32,22.26-80.46,97.6-79a99.76,99.76,0,0,1,99.05,88,102.69,102.69,0,0,1,10.28-.52,99.78,99.78,0,0,1,92.72,62.92,150.62,150.62,0,0,1,115.09,9.68,68,68,0,0,1,126,2,113.64,113.64,0,0,1,28.35-23.71,68,68,0,0,1,86.67-91.17c.5-.63,1-1.27,1.52-1.89a35.46,35.46,0,0,1,37.42-59.6,50,50,0,0,1,95.34,6.33,147.87,147.87,0,0,1,16.15,2.73,48.55,48.55,0,0,1,48.36-44.47c1.47,0,2.91.1,4.34.22,0-1.06-.07-2.12-.07-3.19A150.61,150.61,0,0,1,1340.74,52.51a49.83,49.83,0,0,1,26-52.51V615Z', style='fill:#c5281c')