extends layout

block append head
    script(src='/public/js/lib/createjs.min.js')
    script(src='/public/js/masthead-animation.js')
    script(src='/public/js/masthead.js')
    script(src='/public/js/lib/snap.svg.js')
    script(src='/public/js/lib/SnapSVGAnimator.js')
    script(src='/public/js/landmark-a.js')
    script(src='/public/js/landmark-b.js')

block vars
  - var bodyClass = 'page-landing';
  - var bodyOnLoad = 'logo_init();';
  if __('lang') == 'th'
    - var bodyID = 'site-th'
  if __('lang') == 'vn'
    - var bodyID = 'site-vn'

block content
    section.main-section#landing-section
      include partials/vector
      canvas.fireworks
      - var count= 4;
      #sparks
          svg(viewBox="-500 -500 1000 1000")
              defs
                  clippath#clip-path
                      circle.bg(r=450)
              g(clip-path="url(#clip-path)")
                  g.firework
                      while count--
                          - var sparks = 6
                          g.sparks
                              while sparks--
                                  circle.spark#spark(r=10 style=`--angle: ${360/6 * sparks}deg;`)
      .container
          .row
              .col-md-8.col-md-offset-2
                  .content-top
                      .text-center
                        .masthead-container
                          if __('lang') == 'cn-zh'
                            img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-cn-cn.svg" alt="halfabillion")
                          if __('lang') == 'en'
                            img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-en.svg" alt="halfabillion")
                          if __('lang') == 'hk-zh'
                            img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-cn-hk.svg" alt="halfabillion")
                          if __('lang') == 'id'
                            img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-id.svg" alt="halfabillion")
                          if __('lang') == 'jp'
                            img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-jp.svg" alt="halfabillion")
                          if __('lang') == 'kr'
                            img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-kr.svg" alt="halfabillion")
                          if __('lang') == 'th'
                            img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-th.svg" alt="halfabillion")
                          if __('lang') == 'tw-zh'
                            img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-cn-tw.svg" alt="halfabillion")
                          if __('lang') == 'vn'
                            img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-vn.svg" alt="halfabillion")
                          .masthead-confetti
                          #masthead_animation_outer_container.hide
                            #masthead_animation_container(style='background-color:rgba(69, 69, 69, 0.00); width:800px; height:800px')
                              canvas#masthead_canvas(width='800', height='800', style='position: absolute; display: block; background-color:rgba(69, 69, 69, 0.00);')
                              #masthead_dom_overlay_container(style='pointer-events:none; overflow:hidden; width:800px; height:800px; position: absolute; left: 0px; top: 0px; display: block;')
                        p.lead #{__('LANDING_TITLE_1')}
                          span.show #{__('LANDING_TITLE_2')}
                  .content-bottom.row
                      .col-sm-12.text-center
                        p #{__("LANDING_DESC_1_PART_1")} #{__("LANDING_DESC_1_PART_2")}
                        a.btn.btn-outline.btn-lg.text-uppercase(href='https://www.airasia.com/') #{__("LANDING_BOOK_CTA")}
                        //- div(data-mh='outer-wrap')
                          //- p #{__("LANDING_DESC_1_PART_1")} #{__("LANDING_DESC_1_PART_2")}
                          //- p #{__('LANDING_DESC_2')}
                          //- a.btn.btn-outline.btn-lg.text-uppercase(href='https://www.airasia.com/')
                          
                      //- .col-sm-6
                      //-   div(data-mh='outer-wrap')
                      //-     .row.loyalty-area.no-gutters
                      //-       .col-sm-6
                      //-         .wrap(data-mh="wrap")
                      //-           img.center-block.img-responsive(src="/public/img/logo-big-loyalty.png" alt="")
                      //-       .col-sm-6
                      //-         .wrap(data-mh="wrap")
                      //-           p
                      //-             strong #{__('FB_SHARE_BENEFITS')}
                      //-     p
                      //-       button#see-my-journey.btn.btn-outline.btn-lg.text-uppercase(type='button', data-toggle='modal', data-target='#loginModal', disabled) #{__('SEE_JOURNEY_BUTTON')}
                      //-         i.fas.fa-plane-alt.pl-15
                      //-     p.text-small #{__('LOGIN_PRIVACY_POLICY')}

          #loginModal.modal.modal-login.fade(tabindex='-1', role='dialog', aria-labelledby='loginModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true')
                      i.far.fa-times
                  h4#loginModalLabel.modal-title #{__('LOGIN_HEADER')}
                .modal-body
                  #loggedin-message.message-loggedin.hide.text-center
                    img(src="/public/img/loader.gif", width="50", height="50", alt="loader")

                  #airasia_widget
                .modal-footer
                  span.show
                    i.fas.fa-exclamation-circle
                    | #{__('LOGIN_MODAL_TEXT_1')}
                  span.show #{__('LOGIN_MODAL_TEXT_2')}

      section.partners-section
        .container
          h5.section-title.text-center #{__('OUR_PARTNER')}
          .row
            .col-sm-12
              ul.list-partners.list-inline.list-unstyled.text-center.hidden-xs.hide
                li
                  a(href="https://deals.airasia.com/", target="_blank")
                    img.img-responsive.center-block(src="/public/img/logo-vidi-white.png", alt="#")
                li
                  a(href="https://www.tunehotels.com/aahalfabillion/", target="_blank")
                    img.img-responsive.center-block(src="/public/img/logo-tune-white.png", alt="#")
                li
                  a(href="https://www.airasia.com/au/en/promotion.page", target="_blank")
                    img.img-responsive.center-block(src="/public/img/logo-hot-wheels-white.png", alt="#")
                li
                  a(href="https://www.rokkishop.com/", target="_blank")
                    img.img-responsive.center-block(src="/public/img/logo-airasia-dutyfree-white.png", alt="#")
                li
                  a(href="https://disclaimer.airasia.com/?language=en&redirect_to=https://apply.oevisa.com/", target="_blank")
                    img.img-responsive.center-block(src="/public/img/logo-evisa-white.png", alt="#")
                li
                  a(href="http://cars.airasia.com/?clientId=849645", target="_blank")
                    img.img-responsive.center-block(src="/public/img/logo-cartrawler-white.png", alt="#")
                li
                  a(href="https://www.bigpayme.com/?utm_campaign=airasia-halfabillion&utm_content=halfabillion&utm_medium=mini-website-halfabillion&utm_source=airasia", target="_blank")
                    img.img-responsive.center-block(src="/public/img/logo-bigpay-white.png", alt="#")
                li
                  a(href="https://www.rokki.com/buy/?pcode=AA500mx201805", target="_blank")
                    img.img-responsive.center-block(src="/public/img/logo-rokki-white.png", alt="#")


            ul.list-partners.list-inline.list-unstyled.text-center.hidden-xs.row.no-gutters
              li.col-sm-3
                .row.no-gutters
                  .col-sm-6
                    a(href="https://deals.airasia.com/", target="_blank")
                      .partner-logo(data-mh='logo-partner', style='background-image:url("/public/img/logo-vidi-white.png");background-size: 50%;')
                        img.img-responsive.center-block.invisible(src="/public/img/logo-vidi-white.png", alt="#")
                  .col-sm-6
                    a(href="https://www.tunehotels.com/aahalfabillion/", target="_blank")
                      .partner-logo(data-mh='logo-partner', style='background-image:url("/public/img/logo-tune-white.png");background-size: 50%;')
                        img.img-responsive.center-block.invisible(src="/public/img/logo-tune-white.png", alt="#")
              li.col-sm-3
                .row-no-gutters
                  .col-sm-6
                    a(href="https://www.airasia.com/au/en/promotion.page", target="_blank")
                      .partner-logo(data-mh='logo-partner', style='background-image:url("/public/img/logo-hot-wheels-white.png");')
                        img.img-responsive.center-block.invisible(src="/public/img/logo-hot-wheels-white.png", alt="#")
                  .col-sm-6
                    a(href="https://www.rokkishop.com/", target="_blank")
                      .partner-logo(data-mh='logo-partner', style='background-image:url("/public/img/logo-airasia-dutyfree-white.png");')
                        img.img-responsive.center-block.invisible(src="/public/img/logo-airasia-dutyfree-white.png", alt="#")
              li.col-sm-3
                .row.no-gutters
                  .col-sm-6
                    a(href="https://disclaimer.airasia.com/?language=en&redirect_to=https://apply.oevisa.com/", target="_blank")
                      .partner-logo(data-mh='logo-partner', style='background-image:url("/public/img/logo-evisa-white.png");background-size: 60%;')
                        img.img-responsive.center-block.invisible(src="/public/img/logo-evisa-white.png", alt="#")
                  .col-sm-6
                    a(href="http://cars.airasia.com/?clientId=849645", target="_blank")
                      .partner-logo(data-mh='logo-partner', style='background-image:url("/public/img/logo-cartrawler-white.png");background-size: 40%;')
                        img.img-responsive.center-block.invisible(src="/public/img/logo-cartrawler-white.png", alt="#")
              li.col-sm-3
                .row.no-gutters
                  .col-sm-6
                      a(href="https://www.bigpayme.com/?utm_campaign=airasia-halfabillion&utm_content=halfabillion&utm_medium=mini-website-halfabillion&utm_source=airasia", target="_blank")
                        .partner-logo(data-mh='logo-partner', style='background-image:url("/public/img/logo-bigpay-white.png");background-size: 40%;')
                          img.img-responsive.center-block.invisible(src="/public/img/logo-bigpay-white.png", alt="#")
                  .col-sm-6
                    a(href="https://www.rokki.com/buy/?pcode=AA500mx201805", target="_blank")
                      .partner-logo(data-mh='logo-partner', style='background-image:url("/public/img/logo-rokki-white.png");background-size: 40%;')
                        img.img-responsive.center-block.invisible(src="/public/img/logo-rokki-white.png", alt="#")

          .owl-carousel.owl-theme.partners-carousel.visible-xs
            .item
              a(href="https://deals.airasia.com/", target="_blank")
                img.img-responsive.center-block(src="/public/img/logo-vidi-white.png", alt="#")
            .item
              a(href="https://www.tunehotels.com/aahalfabillion/", target="_blank")
                img.img-responsive.center-block(src="/public/img/logo-tune-white.png", alt="#")
            .item
              a(href="https://www.airasia.com/au/en/promotion.page", target="_blank")
                img.img-responsive.center-block(src="/public/img/logo-hot-wheels-white.png", alt="#")
            .item
              a(href="https://www.rokkishop.com/", target="_blank")
                img.img-responsive.center-block(src="/public/img/logo-airasia-dutyfree-white.png", alt="#")
            .item
              a(href="https://disclaimer.airasia.com/?language=en&redirect_to=https://apply.oevisa.com/", target="_blank")
                img.img-responsive.center-block(src="/public/img/logo-evisa-white.png", alt="#")
            .item
              a(href="http://cars.airasia.com/?clientId=849645", target="_blank")
                img.img-responsive.center-block(src="/public/img/logo-cartrawler-white.png", alt="#")
            .item
              a(href="https://www.bigpayme.com/?utm_campaign=airasia-halfabillion&utm_content=halfabillion&utm_medium=mini-website-halfabillion&utm_source=airasia", target="_blank")
                img.img-responsive.center-block(src="/public/img/logo-bigpay-white.png", alt="#")
            .item
              a(href="https://www.rokki.com/buy/?pcode=AA500mx201805", target="_blank")
                img.img-responsive.center-block(src="/public/img/logo-rokki-white.png", alt="#")

block scripts
  script(src='/public/js/landing.js?v=3.0')