doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)

    //- Facebook
    if meta_title
      meta(property='og:title', content=meta_title)
    else
      meta(property='og:title', content='AirAsia #halfabillion')

    if meta_description
      meta(property='og:description', content=meta_description)
    else
      meta(property='og:description', content="With your support, we have increased our fleet of 2 aircraft in 2001, to over 230 aircraft in 2017. And by constantly improving our services, we're able to fly over 189,000 guests to over 130 destinations across Asia and beyond. Every day!")

    meta(property='og:site_name', content='AirAsia #halfabillion')

    if meta_url
      meta(property='og:url', content=meta_url)
    else
      meta(property='og:url', content='https://airasia.com/halfabillion')

    if meta_image
      meta(property='og:image', content=meta_image)
    else
      meta(property='og:image', content='https://airasia.com/halfabillion')

    meta(property='og:type', content='website')
    meta(property='fb:app_id', content='170402180262152')

    title #{title}
    link(rel="preload", href="https://sso-widget.airasia.com/bundle.en-GB.js" as="script")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,500")
    link(rel="stylesheet", href="/public/css/airasia.css")
    link(rel='shortcut icon', href='/public/img/favicon.ico')
    link(rel='stylesheet', href='/public/css/main.css?v=1.5')
    script(src='https://sso-widget.airasia.com/bundle.en-GB.js')
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','gtmDataLayer','GTM-WTQCST');
    script.
      if (location.protocol != 'https:') {
        location.href = window.location.href.replace('http://', 'https://');
      }

    block head

  - var bodyClass = '';
  - var bodyOnLoad = '';
  - var bodyID = '';
  block vars

  body(class=[bodyClass, __('lang')], id=bodyID, onload=bodyOnLoad)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WTQCST', height='0', width='0', style='display:none;visibility:hidden')
    script.
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '170402180262152',
          xfbml      : true,
          version    : 'v3.0'
        });
        FB.AppEvents.logPageView();
      };
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    include partials/header

    include partials/flash
    block content

    include partials/footer

    script(src='/public/js/lib/jquery-3.1.1.min.js')
    script(src='/public/js/lib/bootstrap.min.js')
    script(src='/public/js/lib/jquery.matchHeight-min.js')
    script(src='/public/js/lib/owl.carousel.min.js')
    script(src='/public/js/lib/anime.min.js')
    script(src='/public/js/lib/TweenMax.min.js')
    script(src='/public/js/main.js?v=1.5')

    block scripts
