extends layout

block append head
    script(src='/public/js/lib/createjs.min.js')
    script(src='/public/js/masthead-animation.js')
    script(src='/public/js/masthead.js')
    script(src='/public/js/lib/snap.svg.js')
    script(src='/public/js/lib/SnapSVGAnimator.js')
    script(src='/public/js/landmark-a.js')
    script(src='/public/js/landmark-b.js')

block vars
  - var bodyClass = 'page-loading';
  - var bodyOnLoad = 'logo_init();';
  if __('lang') == 'th'
    - var bodyID = 'site-th'
  if __('lang') == 'vn'
    - var bodyID = 'site-vn'

block content
    section.main-section#loading-section
        include partials/vector
        .container
            .row
                .col-md-6.col-md-offset-3
                    .content-top
                        .text-center
                            .masthead-container
                                if __('lang') == 'cn-zh'
                                    img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-cn-cn.svg" alt="halfabillion")
                                if __('lang') == 'en'
                                    img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-en.svg" alt="halfabillion")
                                if __('lang') == 'hk-zh'
                                    img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-cn-hk.svg" alt="halfabillion")
                                if __('lang') == 'id'
                                    img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-id.svg" alt="halfabillion")
                                if __('lang') == 'jp'
                                    img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-jp.svg" alt="halfabillion")
                                if __('lang') == 'kr'
                                    img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-kr.svg" alt="halfabillion")
                                if __('lang') == 'th'
                                    img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-th.svg" alt="halfabillion")
                                if __('lang') == 'tw-zh'
                                    img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-cn-tw.svg" alt="halfabillion")
                                if __('lang') == 'vn'
                                    img.logo-masthead.center-block.img-responsive.mb-40(src="/public/img/masthead/masthead-vn.svg" alt="halfabillion")
                            .row
                                .col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0.question-wrap
                                    if __('lang') == 'th'
                                        .owl-carousel.carousel-question
                                            .item.text-center
                                                span.show รู้หรือไม่? เราบินสู่กว่า 135 ปลายทาง
                                                span.show ทั่วทั้งเอเชีย ออสเตรเลีย และสหรัฐอเมริกา
                                            .item.text-center
                                                span.show รู้หรือไม่? อาหารบนเครื่องที่มียอดขายดีที่สุด
                                                span.show ของเราคือ นาซิลามักสูตรปาคนาสเซอร์
                                                span.show (ข้าวอบใบเตยสไตล์มาเลเซีย)
                                            .item.text-center
                                                span.show รู้หรือไม่? เราได้รับรางวัลสายการบินราคา
                                                span.show ประหยัดที่ดีที่สุดในโลก 9 สมัยจาก Skytrax
                                                span.show และได้รับรางวัลสายการบินราคาประหยัดชั้นนำ
                                                span.show ของโลก 5 สมัยจาก World Travel Awards
                                            .item.text-center
                                                span.show รู้หรือไม่? เครื่องบินของเราแต่ละลำ
                                                span.show ให้บริการโดยมีระยะทางการบินเฉลี่ยอยู่ที่
                                                span.show 2.8 ล้านกิโลเมตรต่อปี คิดเป็น 3 เท่าของ
                                                span.show ระยะทางในการเดินทางจากโลก ไป-กลับ
                                                span.show ดวงจันทร์!
                                            .item.text-center
                                                span.show รู้หรือไม่? ทุกๆ 35 วินาที จะมีเครื่องบิน
                                                span.show แอร์เอเชีย 1 ลำที่บินขึ้นหรือลงจอด
                                                span.show ที่สนามบินสักแห่งในเอเชีย
                                            .item.text-center
                                                span.show รู้หรือไม่? เราเริ่มนำเอาระบบ Fast Airport
                                                span.show Clearance Experience System (F.A.C.E.S.)
                                                span.show ซึ่งเป็นการนำระบบจดจำใบหน้ามาใช้งาน
                                                span.show ที่ท่าอากาศยานนานาชาติเซไน
                                                span.show ซึ่งเป็นการนำมาใช้งานในสนามบิน
                                                span.show เป็นครั้งแรกของประเทศมาเลเซีย
                                            .item.text-center
                                                span.show รู้หรือไม่? ที่อาคารสำนักงานใหญ่ของแอร์เอเชีย
                                                span.show จะมีสุนัขนำโชค 4 ตัวที่ถูกเลี้ยงอยู่ที่นั่น
                                                span.show ซึ่งแต่ละตัวนั้นถูกตั้งชื่อตามรหัสเที่ยวบินของ
                                                span.show สายการบินในเครือ ได้แก่ AK (แอร์เอเชีย),
                                                span.show D7 (แอร์เอเชียเอ็กซ์), FD (ไทยแอร์เอเชีย)
                                                span.show และ QZ (อินโดนีเซียแอร์เอเชีย)
                                            .item.text-center
                                                span.show รู้หรือไม่? ในฐานะของสายการบินแห่งอาเซียน
                                                span.show เราให้บริการบินตรงสู่ 10 ประเทศทั่วอาเซียน
                                                span.show ได้แก่ อินโดนีเซีย ไทย ฟิลิปปินส์ มาเลเซีย
                                                span.show สิงคโปร์ เวียดนาม เมียนมา กัมพูชา ลาว
                                                span.show และบรูไน
                                    else
                                        p.questions #{__('DID_YOU_KNOW')} #{__('DID_YOU_KNOW_QUOTE_1')}

                    .content-bottom
                        .inner.text-center
                            p.progress-title
                                span.lead
                                    span.progress-lead #{__('GATHERING_DATA')}...
                            .progress
                                .progress-bar(role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100' style='width: 0%;')
                                    span.sr-only 0% Complete
                            p.text-small #{__('LOADING_INFO')}

        #loadingModal.modal.modal-loading.fade(tabindex='-1', role='dialog', aria-labelledby='loadingModalLabel')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close', onclick='window.location.href="https://halfabillion.airasia.com"')
                            span(aria-hidden='true')
                                i.far.fa-times
                        h4#loadingModalLabel.modal-title.text-center #{__('LOADING_MODAL_TITLE')}
                    .modal-body
                        #loading-message.text-center
                            p #{__('LOADING_MODAL_MESSAGE_1')}
                            p #{__('LOADING_MODAL_MESSAGE_2')}

    include partials/partners

    input(type="hidden", name="hexhash", value=hexhash)
    input(type="hidden", name="thumbnail", value=thumbnail)
    input(type="hidden", name="render", value=render)
    input(type="hidden", name="server", value=thumbnailServer)

block scripts
    script(src='/public/js/loading.js?v=3.1')
