extends layout.pug

block append head

block vars
  - var bodyClass = 'page-maintenance';

block content
    section.main-section#teaser-section
        .container
            .row
                .col-md-8.col-md-offset-2
                    .content-top
                        .text-center
                            .content-wrap
                                img.img-responsive.center-block.mb-40(src="/public/img/logo-air-asia.svg", alt="", width='141', height='141')

                                p.text-heading Site under maintenance
                                p.text-desc-maintenance We should be back shortly. Thank you for your patience.

block scripts