extends layout

block append head
    script(src='/public/js/lib/createjs.min.js')
    script(src='/public/js/masthead-animation.js')
    script(src='/public/js/masthead.js')
    script(src='/public/js/lib/snap.svg.js')
    script(src='/public/js/lib/SnapSVGAnimator.js')
    script(src='/public/js/landmark-a.js')
    script(src='/public/js/landmark-b.js')
    script.
        var url = window.location.href; 
        if (url.indexOf('?redirect') !== -1) {
            window.location.href = 'https://halfabillion.airasia.com';
        }

block vars
  - var bodyClass = 'page-personalised';
  - var bodyOnLoad = 'logo_init();';
  if __('lang') == 'th'
    - var bodyID = 'site-th'
  if __('lang') == 'vn'
    - var bodyID = 'site-vn'

block content
    section.main-section#personalised-section
        include partials/vector
        .container
            .row
                .col-md-8.col-md-offset-2
                    .content-top
                        .text-center
                            .masthead-container
                                if __('lang') == 'cn-zh'
                                    img.logo-masthead.center-block.img-responsive(src="/public/img/masthead/masthead-cn-cn.svg" alt="halfabillion")
                                if __('lang') == 'en'
                                    img.logo-masthead.center-block.img-responsive(src="/public/img/masthead/masthead-en.svg" alt="halfabillion")
                                if __('lang') == 'hk-zh'
                                    img.logo-masthead.center-block.img-responsive(src="/public/img/masthead/masthead-cn-hk.svg" alt="halfabillion")
                                if __('lang') == 'id'
                                    img.logo-masthead.center-block.img-responsive(src="/public/img/masthead/masthead-id.svg" alt="halfabillion")
                                if __('lang') == 'jp'
                                    img.logo-masthead.center-block.img-responsive(src="/public/img/masthead/masthead-jp.svg" alt="halfabillion")
                                if __('lang') == 'kr'
                                    img.logo-masthead.center-block.img-responsive(src="/public/img/masthead/masthead-kr.svg" alt="halfabillion")
                                if __('lang') == 'th'
                                    img.logo-masthead.center-block.img-responsive(src="/public/img/masthead/masthead-th.svg" alt="halfabillion")
                                if __('lang') == 'tw-zh'
                                    img.logo-masthead.center-block.img-responsive(src="/public/img/masthead/masthead-cn-tw.svg" alt="halfabillion")
                                if __('lang') == 'vn'
                                    img.logo-masthead.center-block.img-responsive(src="/public/img/masthead/masthead-vn.svg" alt="halfabillion")

                            .video-outer-container
                                .video-container.mb-40
                                    .img-wrapper
                                        img.img-responsive(src=thumbnail_url alt="")

                            p.lead #{__('JOURNEY_TITLE_1')}
                                span.show #{__('JOURNEY_TITLE_2')}

                            if __('lang') != 'cn-zh'
                                p
                                    button.btn.btn-outline.btn-lg.text-uppercase.btn-fbshare
                                        i.fab.fa-facebook-square.pr-15
                                        |  #{__('SHARE_MY_JOURNEY')}
                            else
                                .row
                                    .col-sm-6
                                        p
                                            a(href="https://service.weibo.com/share/share.php?url=https%3A%2F%2Fhalfabillion.airasia.com%2Fcn-zh", target="_blank").btn.btn-outline.btn-lg.text-uppercase.btn-weiboshare
                                                i.fab.fa-weibo.pr-15
                                                |  #{__('SHARE_MY_JOURNEY')}
                                            input(type="hidden", name="meta_url", value=meta_url)
                                            input(type="hidden", name="meta_title", value=meta_title)
                                            input(type="hidden", name="meta_description", value=meta_description)
                                            input(type="hidden", name="meta_image", value=meta_image)
                                    .col-sm-6
                                        p
                                            button.btn.btn-outline.btn-lg.text-uppercase.btn-fbshare
                                                i.fab.fa-facebook-square.pr-15
                                                |  #{__('SHARE_MY_JOURNEY')}

                            p.text-sharing
                                a(href=thumbnail_url, target="_blank", download=big_id + ".jpg").text-white.pr-40.btn-download
                                    i.fal.fa-cloud-download
                                    |  #{__('DOWNLOAD')}
                                a(href="#")#send-email.text-white
                                    i.fal.fa-envelope
                                    |  #{__('EMAIL')}
                                    i.fa.fa-check.hide
                                    i.fa.fa-exclamation-triangle.hide

    include partials/partners

    input(type="hidden", name="hexhash", value=hexhash)
    input(type="hidden", name="thumbnail_id", value=thumbnail_id)
    input(type="hidden", name="video_id", value=video_id)

block scripts
    script(src='/public/js/personalised.js?v=1.5')

