extends layout.pug

block append head
    script(src='/public/js/lib/createjs.min.js')
    if __('lang') == 'en'
        script(src='/public/js/teaser-eng-animation.js')
        script(src='/public/js/teaser-eng.js')
    else
        script(src='/public/js/teaser-notext-animation.js')
        script(src='/public/js/teaser-notext.js')

block vars
  - var bodyClass = 'page-teaser';
  - var bodyOnLoad = 'teaser_init();';
  if __('lang') == 'th'
    - var bodyID = 'site-th'
  if __('lang') == 'vn'
    - var bodyID = 'site-vn'

block content
    section.main-section#teaser-section
        .container
            .row
                .col-md-8.col-md-offset-2
                    .content-top
                        #teaser_animation_outer_container
                          #teaser_animation_container(style='width:700px; height:400px')
                            canvas#teaser_canvas(width='700', height='400', style='position: absolute; display: block;')
                            #teaser_dom_overlay_container(style='pointer-events:none; overflow:hidden; width:700px; height:400px; position: absolute; left: 0px; top: 0px; display: block;')
                        if __('lang') == 'en'
                        else
                            p.text-teaser.text-center.text-uppercase #{__('TEASER_TEXT')}
                        .time-countdown-container
                            #time-countdown.clearfix

block scripts
    script(src='/public/js/lib/moment.min.js')
    script(src='/public/js/lib/moment-timezone-with-data.min.js')
    script(src='/public/js/lib/flipclock.min.js')
    script(src='/public/js/countdown.js')
    script(src='/public/js/teaser-app.js')