$font-path: "./../fonts" !default;

body {
  overflow-x: hidden;
}

@font-face {
    font-family: 'GothamRoundedBook';
    src: url('#{$font-path}/gotham/GothamRoundedBook.eot');
    src: url('#{$font-path}/gotham/GothamRoundedBook.eot') format('embedded-opentype'),
         url('#{$font-path}/gotham/GothamRoundedBook.woff2') format('woff2'),
         url('#{$font-path}/gotham/GothamRoundedBook.woff') format('woff'),
         url('#{$font-path}/gotham/GothamRoundedBook.ttf') format('truetype'),
         url('#{$font-path}/gotham/GothamRoundedBook.svg#GothamRoundedBook') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GothamRounded';
    src: url('#{$font-path}/gotham/GothamRoundedBold_21016.eot');
    src: url('#{$font-path}/gotham/GothamRoundedBold_21016.eot') format('embedded-opentype'),
         url('#{$font-path}/gotham/GothamRoundedBold_21016.woff2') format('woff2'),
         url('#{$font-path}/gotham/GothamRoundedBold_21016.woff') format('woff'),
         url('#{$font-path}/gotham/GothamRoundedBold_21016.ttf') format('truetype'),
         url('#{$font-path}/gotham/GothamRoundedBold_21016.svg#GothamRoundedBold_21016') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('#{$font-path}/gotham/gotham_black_regular-webfont.eot');
    src: url('#{$font-path}/gotham/gotham_black_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/gotham/gotham_black_regular-webfont.woff2') format('woff2'),
         url('#{$font-path}/gotham/gotham_black_regular-webfont.woff') format('woff'),
         url('#{$font-path}/gotham/gotham_black_regular-webfont.ttf') format('truetype'),
         url('#{$font-path}/gotham/gotham_black_regular-webfont.svg#gotham_blackregular') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai';
    src: url('#{$font-path}/notosansthai/notosansthai-regular-webfont.eot');
    src: url('#{$font-path}/notosansthai/notosansthai-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/notosansthai/notosansthai-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}/notosansthai/notosansthai-regular-webfont.woff') format('woff'),
         url('#{$font-path}/notosansthai/notosansthai-regular-webfont.ttf') format('truetype'),
         url('#{$font-path}/notosansthai/notosansthai-regular-webfont.svg#noto_sans_thairegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Noto Sans Thai Semi Bold';
    src: url('#{$font-path}/notosansthai/notosansthai-semibold-webfont.eot');
    src: url('#{$font-path}/notosansthai/notosansthai-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/notosansthai/notosansthai-semibold-webfont.woff2') format('woff2'),
         url('#{$font-path}/notosansthai/notosansthai-semibold-webfont.woff') format('woff'),
         url('#{$font-path}/notosansthai/notosansthai-semibold-webfont.ttf') format('truetype'),
         url('#{$font-path}/notosansthai/notosansthai-semibold-webfont.svg#noto_sans_thaisemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v7/C7bP6N8yXZ-PGLzbFLtQKRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v7/iLJc6PpCnnbQjYc1Jq4v0xJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v7/5pCv5Yz4eMu9gmvX8nNhfRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+900-97F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v7/gEkd0pn-sMtQ_P4HUpi6WBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v7/iPF-u8L1qkTPHaKjvXERnxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+370-3FF
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v7/mTzVK0-EJOCaJiOPeaz-hxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v7/erE3KsIWUumgD1j_Ca-V-xJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v7/LeFlHvsZjXu2c3ZRgBq9nFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215
}

@import "themes/default/variables";
// ----------------------------------------------------------------------
  // Vendor
// ----------------------------------------------------------------------
@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/fontawesome";
@import "lib/flipclock";
@import "lib/owl-carousel";
@import "lib/owl.theme.default.css";
@import "lib/video-js.scss";

@import "themes/default/default";

// ----------------------------------------------------------------------
  // Components
// ----------------------------------------------------------------------
@import "components/index";

// ----------------------------------------------------------------------
  // Layouts
// ----------------------------------------------------------------------
@import "layouts/index";

// ----------------------------------------------------------------------
  // Pages
// ----------------------------------------------------------------------
@import "pages/index";
