@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/fontawesome";

@import "themes/default/default";


// ----------------------------------------------------------------------
  // Layouts
// ----------------------------------------------------------------------
@import "layouts/index";

@font-face {
    font-family: 'the_wild_things';
    src: url('../fonts/the-wild-things/the_wild_things_-_bold-webfont.eot');
    src: url('../fonts/the-wild-things/the_wild_things_-_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/the-wild-things/the_wild_things_-_bold-webfont.woff2') format('woff2'),
         url('../fonts/the-wild-things/the_wild_things_-_bold-webfont.woff') format('woff'),
         url('../fonts/the-wild-things/the_wild_things_-_bold-webfont.ttf') format('truetype'),
         url('../fonts/the-wild-things/the_wild_things_-_bold-webfont.svg#the_wild_thingsbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'the_wild_things';
    src: url('../fonts/the-wild-things/the_wild_things_-_bold_italic-webfont.eot');
    src: url('../fonts/the-wild-things/the_wild_things_-_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/the-wild-things/the_wild_things_-_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/the-wild-things/the_wild_things_-_bold_italic-webfont.woff') format('woff'),
         url('../fonts/the-wild-things/the_wild_things_-_bold_italic-webfont.ttf') format('truetype'),
         url('../fonts/the-wild-things/the_wild_things_-_bold_italic-webfont.svg#the_wild_thingsbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'the_wild_things_script';
    src: url('../fonts/the-wild-things/the_wild_things_script_-_bold-webfont.eot');
    src: url('../fonts/the-wild-things/the_wild_things_script_-_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/the-wild-things/the_wild_things_script_-_bold-webfont.woff2') format('woff2'),
         url('../fonts/the-wild-things/the_wild_things_script_-_bold-webfont.woff') format('woff'),
         url('../fonts/the-wild-things/the_wild_things_script_-_bold-webfont.ttf') format('truetype'),
         url('../fonts/the-wild-things/the_wild_things_script_-_bold-webfont.svg#the_wild_things_scriptbold') format('svg');
    font-weight: 700;
    font-style: normal;
}




.text-white {
  color: #FFFFFF;
}
.text-yellow {
  color: #FFF200;
}

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  background: $red;
  // padding-top: 60px;
  // padding-top: 222px;
  margin-bottom: 75px;
  //margin-bottom: 45px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  // height: 45px;
  // line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.btn-default{
  border: 0px;
  border-radius: 5px;
  color: $red;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 25px;
}

#home{
  color: #fff;

  .terms{
    margin: 15px auto 0px;
    width : 300px;
  }
  .btn-see-journey{
    margin: 15px 0px;

    .far{
      font-weight: 600;
      margin-left: 10px;
    }
  }
}

#journey{
  color: #fff;

  .terms{
    margin: 15px auto 0px;
  }
  .btn-see-journey{
    margin: 15px 0px;

    .far{
      font-weight: 600;
      margin-left: 10px;
    }
  }
}

#coming-soon-counter {
  color: #ffffff;
  font-family: 'GothamRoundedBook', sans-serif;
  font-size: 20px;
  > span {
    padding-right: 30px;
    &:last-child {
      padding-right: 0;
    }
  }
  .digits {
    font-size: 56px;
    padding-right: 20px;
  }
  .digit-text {
    vertical-align: 10px;
  }
}

#circle-progress {
  position: relative;
  .progress-text {
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
.main-section {
  font-family: 'GothamRoundedBook', sans-serif;
  position: relative;
  p {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 120%;
    margin: 0 0 40px;
  }
  &#teaser-section {
    p {
      //font-family: 'GothamRoundedBook', sans-serif;
      font-family: 'GothamRounded', sans-serif;
      font-weight: 700;
    }
    img {
      // padding-left: 100px;
      margin-bottom: 40px;
    }
    .text-heading {
      line-height: .85;
      margin-top: -15px;
      margin-bottom: 60px;
      .text-yellow {
        margin-left: 50px;
      }
    }
  }
  &#landing-section {
    background: no-repeat url('../img/landing-bg.png') bottom center/contain;
    .text-heading {
      position: relative;
      margin-left: 40px;
      margin-bottom: 80px;
      img {
        position: absolute;
        top: 25px;
        left: 170px;
        transform: rotate(10deg) skew(10deg, 0);
      }
    }
  }
  &#loading-section {
    background: no-repeat url('../img/loading-bg.png') bottom center/contain;
    .center-absolute {
      margin-top: -100px;
    }
    .text-heading {
      position: relative;
      .text-white {
        padding-left: 25%;
      }
    }
    .inner-content {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &#connect-section {
    background: no-repeat url('../img/connect-bg.png') bottom center/contain;
    .center-absolute {
      margin-top: -100px;
    }
    .text-heading {
        margin-bottom: 40px;
       .text-yellow { padding-right: 20%; }
       .text-white { padding-left: 5%; }
    }
    .text-muted {
      color: #f79792;
      font-size: 14px;
    }
  }
  &#personalised-section {
    background: no-repeat url('../img/personalised-bg.png') bottom center/contain;
    .text-heading {
      margin-top: 70px;
      margin-bottom: 120px;
      .text-white { padding-left: 10%;}
      img {
        position: absolute;
        bottom: 10px;
        left: 400px;
        transform: rotate(10deg) skew(10deg, 0);
      }
    }
    .video-container {
      margin-top: -100px;
    }
  }
}
.text-heading {
  font-family: 'the_wild_things_script', sans-serif;
  font-weight: 700;
  font-size: 111px;
  line-height: .8;
  transform: rotate(-10deg) skew(-10deg, 0);
}
.center-container {
    height: 100vh;
    min-height: 100%;
}
.center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.inner-content {
  .text-yellow {
    padding-left: 10px;
  }
}
.btn-jumbo {
    box-shadow: -3px 4px 0px 2px #c32017;
    font-family: 'GothamRounded', sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 40px;
    padding: 22px 38px;
    > i {
      padding-left: 10px;
    }
    &.with-arrow {
      &:after {
        background: no-repeat url('../img/button-arrow.png') center/cover;
        content: "";
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
        width: 25px;
        height: 19px;
      }
    }
}

.video-container {
  border: 6px solid #9a1912;
  box-shadow: 8px 8px 0px 4px #c4261e;
  position: relative;
  &:before {
    background-color: rgba(0,0,0,.5);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  &:after {
    content: "\f04b";
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
  }
}

