@keyframes moveClouds {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5vw);
    }
    100% {
        transform: translateX(0vw);
    }
}


@keyframes drift {
    0% {
        transform: translateY(0px) rotate();
    }
    50% {
        transform: translateY(-20px) rotate(-3deg);
    }
    100% {
        transform: translateY(0px) rotate();
    }
}

@keyframes drift2 {
    0% {
        transform: translateY(0px) rotate();
    }
    50% {
        transform: translateY(-10px) rotate(-2deg);
    }
    100% {
        transform: translateY(0px) rotate();
    }
}

@keyframes floating_cloud {
    from {
        -webkit-transform: translate(0, 0px);
    }
    65% {
        -webkit-transform: translate(0, 15px);
    }
    to {
        -webkit-transform: translate(0, -0px);
    }
}

@keyframes floating_cloud2 {
    from {
        -webkit-transform: translate(0, 0px);
    }
    65% {
        -webkit-transform: translate(0, 20px);
    }
    to {
        -webkit-transform: translate(0, -0px);
    }
}

@keyframes floating_cloud3 {
    from {
        -webkit-transform: translate(0, 0px);
    }
    65% {
        -webkit-transform: translate(0, 25px);
    }
    to {
        -webkit-transform: translate(0, -0px);
    }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes spin{
    0 {
        transform: rotate(0deg);
    }
    100% {
         transform: rotate(360deg);

    }
}

@keyframes rotate {
  0% {

  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes wavy {
    0% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-2px);
    }
}

@keyframes fade {
    0%,
    100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes confetti {
   0% {
      opacity:0;
      transform:translateY(0%) rotate(0deg);
   }
   10% {
      opacity:1;
   }
   15% {
      transform:translateY(-800%) rotate(270deg);
   }
   80% {
      opacity:1;
   }
   100% {
      opacity:0;
      transform:translateY(11000%) rotate(1440deg);
   }
}