 .btn-outline {
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 30px;
    box-shadow: none;
    color: #fff;
    font-family: 'GothamRounded', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    transition: all 0.3s;

    &.btn-lg {
        padding: 17px 20px;
        @media (max-width: $screen-xs) {
            font-size: 16px;
            padding: 12px;
            width: 100%;
        }
        > .pl-15 {
            @media (max-width: $screen-xs) {
                padding-left: 10px;
            }
        }
    }
    &:hover,
    &:focus {
        background-color: $white;
        color: $red;
    }
    &.btn-fbshare {
        background-color: #4468af;
        border-color: #4468af;
        &:hover,
        &:focus {
            background-color: #385996;
            border-color: #385996;
            color: $white;
        }
    }
    &.btn-wechat {
        background-color: #7BB32E;
        border-color: #7BB32E;
        &:hover,
        &:focus {
            background-color: #7BB32E;
            border-color: #7BB32E;
            color: $white;
        }
    }
    &.btn-weiboshare {
        background-color: #df2029;
        border-color: #df2029;
        &:hover,
        &:focus {
            background-color: #df2029;
            border-color: #df2029;
            color: $white;
        }
    }
}

.btn-danger {
    background-color: $thunderbird;
    border-color: transparent;
    border-radius: 30px;
    box-shadow: none;
    font-family: 'GothamRounded', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 15px;
    width: 100%;
    transition: all 0.3s;
    &:hover,
    &:focus {
        background-color: $white;
        color: $thunderbird;
    }
}