.partners-carousel {
    .owl-item img {
            width: auto;
    }
    .owl-dots .owl-dot span {
        background: #ffffff;
    }
    .owl-nav.disabled + .owl-dots {
        margin-top: 20px;
    }
    .owl-dots .owl-dot.active span,
    .owl-dots .owl-dot:hover span {
        background: #AD160E;
        border: 2px solid #ffffff;
    }
}

.carousel-question {
    font-size: 16px;
}