#countdown-timer {
  color: $white;
  font-family: 'GothamRoundedBook', sans-serif;
  font-size: 20px;
  > span {
    padding-right: 30px;
    &:last-child {
      padding-right: 0;
    }
  }
  .digits {
    font-size: 56px;
    padding-right: 20px;
  }
  .digit-text {
    vertical-align: 10px;
  }
}

.time-countdown-container {
  padding: 30px 0 60px;
  text-align: center;
}

.flipclock-wrapper {
  background: transparent;
  display: inline-block;
  font-family: 'GothamRoundedBook', sans-serif;
  margin: 0;
  width: auto;
}

.flipclock-wrap {
  display: inline-block;
  padding: 0 5px;
  position: relative;
  @media (max-width: $screen-xs-max) {
    padding: 0;
  }
}

.flipclock-wrapper .flip {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
  padding: 0;
}

.flipclock-divider{
  display: block;
  float: none;
  height: auto;
  width: auto !important;
  @media (max-width: $screen-xs) {
    width: auto;
  }
}

.flipclock-divider .flipclock-label {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;

  position: static;
  top: auto;
  right: auto !important;
  @media (max-width: $screen-xs-max) {
    font-size: 14px;
  }
}

.flipclock-wrapper ul {
  font-size: 56px;
  height: 80px;
  @media (max-width: $screen-xs-max) {
    width: 35px;
    height: 55px;
  }
  @media (max-width: $screen-xs) {
    width: 26px;
    height: 35px;
  }
}
.flipclock-wrapper ul li {
  @media (max-width: $screen-xs-max) {
    line-height: 62px;
  }
  @media (max-width: $screen-xs) {
    line-height: 40px;
  }
}
.flipclock-wrapper ul li a div {
  font-size: 56px;
  @media (max-width: $screen-xs) {
    font-size: 32px;
  }
}
.flipclock-wrapper ul li a div div.inn {
  background-color: #ffffff;
  color: $red;
  font-size: 56px;
  text-shadow: none;
  @media (max-width: $screen-xs-max) {
    font-size: 40px;
  }
  @media (max-width: $screen-xs) {
    font-size: 28px;
  }
}
.flipclock-wrapper ul li a div.up:after {
  background-color:  rgba(0, 0, 0, 0.1);
  top: 39px;
  @media (max-width: $screen-xs-max) {
    top: 27px;
  }
  @media (max-width: $screen-xs) {
    top: 17px;
  }
}