.modal {
    .modal-title {
        color: $mine-shaft;
        font-size: 32px;
        font-weight: 500;
    }

    .modal-header {
        border-color: transparent;
        padding: 30px 40px 0 40px;
        .close {
             @media (max-wdith: $screen-xs) {
                margin-top: 10px;
             }
        }
    }
    .modal-body {
        color: #333333;
        padding: 15px 40px 0 40px;
        .message-loggedin {
            padding: 20px 0;
            min-height: 105px;
        }
        .btn-danger {
            max-width: 320px;
        }
    }
    .modal-footer {
        border-color: transparent;
        color: $mine-shaft;
        padding: 15px 40px 30px;
        text-align: center;
        i {
            color: $red;
            padding-right: 5px;
        }
        p {
            margin: 0;
        }
    }
}
#loadingModal {
    #loadingModalLabel {
        color: $red;
        font-family: 'GothamRounded', sans-serif;
    }
    #loading-message {
        font-family: 'GothamRoundedBook', sans-serif;
        font-size: 20px;
        font-weight: 700;
    }
    .modal-body {
        padding: 15px 40px;
    }
}

#airasia_widget {
    .aaw-container {
        min-width: 100% !important;
        width: 100% !important;
        @media (max-wdith: $screen-xs) {
            min-width: auto;
            max-width: auto;
        }
    }
    .aaw-title {
        padding-top: 0;
    }
    .aaw-social-container--row {
        display: none;
    }
}