#site-navigation {
    .navbar-brand {
        height: 171px;
        @media (max-width: $screen-xs-max) {
            height: 81px;
            img {
                width: 81px;
                height: 81px;
            }
        }
    }
    &.navbar-default {
        background-color: transparent;
        box-shadow: none;
        margin-bottom: 0;
        .navbar-nav>li>a,
        .btn-link {
            color: $white;
            font-size: 16px;
        }
        .navbar-right,
        .dropdown-wrap,
        .text-logout {
            margin-top: 40px;
        }
        .dropdown {
            &:hover {
                > .dropdown-menu {
                    display: block;
                }
            }
        }
        .text-logout {
            color: $white;
            font-size: 16px;
        }
        .dropdown-menu {
            border: 0;
            box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.175);
            left: auto;
            right: 0;
            margin: 0;
            min-width: 100px;
            > li > a {
                color: rgba(0,0,0,1);
                font-size: 16px;
                // text-align: center;
                &:hover,
                &:focus {
                    background-color: transparent;
                    color: rgba(0,0,0,1);
                }
            }
        }
    }
    &.navbar-fixed-top {
        position: absolute;
    }
    .text-language {
        padding: 0 10px;
    }
}