.panel-partner {
    background-color: $flamingo;
    border-color: transparent;
    border-radius: 10px;
    margin: auto auto 15px;
    position: relative;
    // min-height: 362px;
    // &:hover {
    //     box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    //     margin-top: -10px;
    // }
    @media (max-width: $screen-xs-max) {
        max-width: 285px;
    }
    .panel-heading {
        background-color: rgba(255,255,255,.9);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        border-color: transparent;
        border-top-right-radius: 9px;
        border-top-left-radius: 9px;
        min-height: 150px;
    }
    .panel-body {
        background-color: rgba(0,0,0,0.5);
        border-bottom-right-radius: 9px;
        border-bottom-left-radius: 9px;
        color: $white;
        transition: height 1s ease-in;
    }
    @media (min-width: $screen-md) and (max-width: $screen-md-max) {
        &.airasia,
        &.hot-wheels,
        &.evisa {
            .panel-heading {
                background-size: 80%;
            }
        }
        &.bigpay,
        &.rokki {
            .panel-heading {
                background-size: 40%;
            }
        }
    }

}