.progress {
    background-color: $tabasco;
    border-radius: 10px;
    height: 5px;
}
.progress-bar {
    background-color: $white;
    border-radius: 10px;
    transition: width 2s cubic-bezier(1, 0, 0, 1);
}