#hot-air-ballon-1 {
    position: absolute;
    top: 0;
    left: 28%;
    margin-top: 10%;
    width: 73px;
    height: 111px;
}
#hot-air-ballon-2 {
    position: absolute;
    top: 0;
    right: 25%;
    width: 46px;
    height: 70px;
    margin-top: 20%;
}
#star-1 {
    position: absolute;
    top: 48%;
    right: 31%;
    width: 13px;
    height: 13px;
}
#star-2 {
    position: absolute;
    top: 48%;
    left: 31%;
    width: 13px;
    height: 13px;
}
#stars-1 {
    position: absolute;
    right: 28%;
    top: 50%;
    width: 66px;
    height: 20px;
}
#stars-2 {
    position: absolute;
    left: 28%;
    top: 50%;
    width: 66px;
    height: 20px;
}
#mountain-1 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 202px;
    height: 133px;
}

#mountain-2 {
    position: absolute;
    right: 0;
    top: 50%;
    width: 202px;
    height: 133px;
}
#wind-1 {
    position: absolute;
    top: 0;
    left: 23%;
    width: 197px;
    height: 53px;
    margin-top: 25%;
}
#wind-2 {
    position: absolute;
    top: 0;
    right: 15%;
    width: 197px;
    height: 53px;
    margin-top: 18%;
}
#trees-1 {
    margin-top: -4px;
    position: absolute;
    top: 58%;
    left: 19%;
    width: 96px;
    height: 60px;
}
#trees-2 {
    margin-top: -2px;
    margin-right: 14%;
    position: absolute;
    right: 0;
    top: 56%;
    width: 64px;
    height: 53px;
}
#hill-1 {
    position: absolute;
    top: 62%;
    left: 5%;
    width: 312px;
    height: 72px;
}
#hill-2 {
    margin-top: -5px;
    margin-right: 25px;
    position: absolute;
    top: 62%;
    right: 5%;
    width: 312px;
    height: 72px;
}
#building-1 {
    margin-left: -18px;
    position: absolute;
    left: 15%;
    top: 55%;
    width: 38px;
    height: 91px;
}
#building-2 {
    margin-right: -10px;
    margin-top: 34px;
    position: absolute;
    top: 50%;
    right: 20%;
    width: 90px;
    height: 87px;
}
#wave-md-1 {
    overflow: visible;
    position: absolute;
    top: 48%;
    left: 13%;
    width: 88px;
    height: 17px;
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        top: 38%;
    }
    @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
        top: 28%;
    }
    @media (max-width: $screen-xs) {
        top: 28%;
    }
}
#wave-md-2 {
    position: absolute;
    top: 48%;
    right: 13%;
    width: 88px;
    height: 17px;
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        top: 38%;
    }
    @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
        top: 28%;
    }
    @media (max-width: $screen-xs) {
        top: 28%;
    }
}
#wave-sm-1 {
    position: absolute;
    top: 52%;
    left: 10%;
    width: 39px;
    height: 17px;
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        top: 42%;
    }
    @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
        top: 32%;
     }
    @media (max-width: $screen-xs) {
        top: 22%;
    }
}
#wave-sm-2 {
    position: absolute;
    top: 52%;
    right: 10%;
    width: 39px;
    height: 17px;
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        top: 42%;
    }
    @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
        top: 32%;
    }
     @media (max-width: $screen-xs) {
        top: 22%;
    }
}
#hot-air-ballon-1,
#hot-air-ballon-2,
#building-1,
#building-2,
#wave-md-1,
// #wave-md-2,
// #wave-sm-1,
// #wave-sm-2,
#stars-1,
#stars-2 {
    path {
         // opacity: 0;
    }
}

#bubble-1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

#bubble-2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -2;
}

#landmark-a {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 32%;
    // margin-right: auto;
    // margin-bottom: auto;
}


#landmark-b {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 32%;
    // margin-right: auto;
    // margin-bottom: auto;
}

#clouds-bg {
    background-color: $thunderbird;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -5;
    width: 100%;
    // @media (max-width: 479px) {
    //     height: 15%;
    // }
    // @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
    //     height: 20%;
    // }
    // @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    //     height: 30%;
    // }
    // @media (min-width: $screen-md) and (max-width: $screen-md-max) {
    //     height: 40%;
    // }
    @media (max-width: $screen-md-max) {
        height: 400px;
    }
    @media (min-width: $screen-lg) {
        height: 600px;
    }
}