.video-js {
    box-shadow: 8px 8px 0px 0px #B12216;
}

.video-js .vjs-big-play-button {
    background-color: rgba(0,0,0,0.5);
    border: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}
.video-js .vjs-big-play-button .vjs-icon-placeholder {
    position: absolute;
    font-size: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -15px;
    margin-left: -15px;
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus {
    background-color: rgba(0,0,0,0.5);
}

.vjs-icon-play:before,
.video-js .vjs-big-play-button .vjs-icon-placeholder:before,
.video-js .vjs-play-control .vjs-icon-placeholder:before {
    content: "\f04b";
    font-family: 'Font Awesome 5 Pro';
}

#my-journey-video {
    margin-top: -20px;

    @media (max-width: $screen-xs-max) {
        margin-top: -15px;
    }
    @media (max-width: $screen-xs) {
        margin-top: -10px;
    }
}
#my-journey-video + .lead {
    margin-top: 40px;
}