html {
    position: relative;
    min-height: 100%;
}
body {
    //background-color: $red;
    //background-color: $thunderbird;
    // background-image: linear-gradient(to bottom, $thunderbird 50%, $flamingo 50%);

    background-color: $flamingo;
    @media (max-width: $screen-xs-max) {
        background-image: url('../img/mobile-bg.png');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    color: $white;
    font-family: 'GothamRoundedBook', sans-serif;
    margin-top: 100px;
    margin-bottom: 60px;
    overflow-x: hidden;

    &.th {
        font-family: 'Noto Sans Thai',sans-serif;
        .btn-outline,
        .btn-danger,
        .lead,
        #colophon {
            font-family: 'Noto Sans Thai',sans-serif;
        }
    }
    &.vn {
        font-family: 'Noto Sans', sans-serif;
        .btn-outline,
        .btn-danger,
        .lead,
        #colophon {
            font-family: 'Noto Sans', sans-serif;
        }
    }
    &.cn-zh, &.hk-zh, &.tw-zh, &.jp, &.kr {
        font-family: 'Roboto', sans-serif;

        .btn-outline,
        .btn-danger,
        .lead,
        #colophon {
            font-family: 'Roboto', sans-serif;
        }
    }
}

p {
    font-size: 16px;
    margin: 0 0 20px;
    letter-spacing: 1px;
    &.text-small {
        font-size: 10px;
        letter-spacing: .5px;
    }
}
.text-white {
    color: $white;
}
.text-sharing {
    a {
        &:hover,
        &:focus {
            color: $white;
            font-weight: 700;
            text-decoration: none;
        }
    }
}
.pr-15 {
    padding-right: 15px;
}
.pr-40 {
    padding-right: 40px;
}
.pl-15 {
    padding-left: 15px;
}
.mb-40 {
    margin-bottom: 40px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.text-teaser {
  font-family: 'GothamRounded', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}

.video-container {
  box-shadow: 8px 8px 0px 0px $thunderbird;
  position: relative;
//   &:before {
//     background-color: rgba(0,0,0,.5);
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 5;
//   }
//   &:after {
//     content: "\f04b";
//     font-family: 'Font Awesome 5 Pro';
//     font-weight: 400;
//     font-size: 60px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     z-index: 10;
//   }
}

.lead {
    font-family: 'GothamRounded', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 20px;
}

.icon-plane {
    background: no-repeat url('../img/icon-plane.png') center/cover;
    display: inline-block;
    margin-left: 15px;
    width: 24px;
    height: 24px;
    vertical-align: -5px;
}

.vector-container {
    overflow-x: hidden;
}

#animation-outer-container {
    // position: relative;
    width: 320px;
    height: 480px;
    margin: 0 auto;
}
#animation_container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: -23%;
    z-index: -1;
}

.masthead-container {
    // max-width: 360px;
    // margin-left: auto;
    // margin-right: auto;
   .masthead-confetti {
      position: relative;
      z-index: 10;
     >.particle {
        opacity:0;
        position: absolute;
        animation: confetti 4s ease-in infinite;
        &.c1 {
           //background-color:rgba(255,255,255,1);
           background-color:rgba(76,175,80,1);
        }
        &.c2 {
           //background-color:rgba(255,255,255,1);
           background-color:rgba(156,39,176,1);
           // background-color:rgba(255,255,255,1);
        }
     }
    }
}

.main-section {
    // overflow-x: hidden;
    .content-top {
        @media (max-width: $screen-xs-max) {
            text-align: center;
        }
        @media (max-width: $screen-xs) {
            padding-top: 40px;
        }
    }
    .content-bottom {
        @media (max-width: $screen-xs-max) {
            text-align: center;
        }
        &.with-divider {
            > div {
                &:first-child {
                    &:after {
                        @media (min-width: $screen-md) {
                            background-color: $thunderbird;
                            content: "";
                            position: absolute;
                            height: 100%;
                            margin-right: 2px;
                            top: 0;
                            right: 0;
                            width: 2px;
                        }
                    }
                }
            }
        }
        .inner {
            padding: 10px 20px;
            overflow: hidden;
        }
    }
}

.partners-section {
    padding-top: 40px;
    padding-bottom: 40px;
    .section-title {
        font-family: 'GothamRounded', sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        margin-bottom: 30px;
        @media (max-width: $screen-xs-max) {
            text-align: center;
        }
    }
    .list-partners {
        > li {
            // margin-right: 10px;
            // margin-left: 10px;
            margin-bottom: 20px;
            @media (max-width: $screen-xs-max) {
                display: block;
                margin: 0 auto 40px;
            }
        }
        img {
            // @media (min-width: $screen-sm) {
            //     max-width: 80%;
            // }
        }
        .partner-logo {
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
    .panel-area {
        margin-left: -8px;
        margin-right: -8px;
        > div {
            padding-left: 8px;
            padding-right: 8px;
        }
        a:hover{
            text-decoration: none;
        }
    }
}
.page404 {
    background-image: none !important;
    .navbar {
        .col-xs-6 {
            width: 100% !important;
        }
        .navbar-brand {
            float: none;
        }
        .dropdown-wrap {
            display: none;
        }
        img {
            margin: 10px auto;
        }
    }
    #teaser_animation_outer_container {
        padding-top: 60px;
    }
    .content-wrap {
        margin-top: 20%;
    }
    .text-404 {
        font-size: 20rem;
        font-family: 'GothamRounded', sans-serif;
        margin: 0 0 40px;
        @media (max-width: $screen-xs) {
            font-size: 32px;
        }
    }
    .site-footer {
        visibility: hidden;
    }
}

.page-maintenance {
    .site-header {
        display: none;
    }
    .site-footer {
        display: none;
    }
    .text-heading {
        font-family: 'GothamRounded', sans-serif;
        font-size: 30px;
    }
    p {
        font-size: 16px;
    }
}