.page-landing {
    .col-lang {
        display: block;
    }
    .col-logout {
        display: none;
    }
    .content-top {
        padding-bottom: 10px;
    }
    .content-bottom {
        padding-bottom: 20px;
    }
    .masthead-container {
      max-width: 360px;
      margin-left: auto;
      margin-right: auto;
      @media (min-width:$screen-sm) {
        min-height: 447px;
      }
      @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
        max-width: 320px;
        min-height: 333px;
      }
      @media (max-width: $screen-xs) {
        max-width: 260px;
      }
    }
    .fireworks{
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
    .btn-outline.btn-lg, 
    .btn-group-lg > .btn-outline.btn {
      box-shadow: 3px 3px 0px rgba(0,0,0,.5);
      background-color: #fff;
      color: #ee2e24;
      padding: 17px 20px;
      position: relative;
      left: 0;
      top: 0;
    }

    .btn-outline:hover, 
    .btn-outline:focus {
      box-shadow: 6px 6px 0px rgba(0,0,0,.5);
      left: -3px;
      top: -3px;
    }
}

#bubble-1, #bubble-2 {
  // left: 50%;
  // transform-origin: center center;
  width: 100%;
}

#clouds {
  height: 100%;
  width: 120%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: -1;
}

@media (min-width: $screen-lg) {
   _:-ms-input-placeholder, :root #clouds {
      top: -15%;
  }
  _:-ms-input-placeholder, :root #loading-section #clouds {
      top: -25%;
  }
  _:-ms-input-placeholder, :root #personalised-section #clouds {
      top: -25%;
  }
}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {
   _:-ms-input-placeholder, :root #clouds {
      top: -20%;
  }
  _:-ms-input-placeholder, :root #loading-section #clouds {
     top: -30%;
  }
  _:-ms-input-placeholder, :root #personalised-section #clouds {
     top: -30%;
  }
}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
   _:-ms-input-placeholder, :root #clouds {
      top: -25%;
  }
  _:-ms-input-placeholder, :root #loading-section #clouds {
     top: -35%;
  }
  _:-ms-input-placeholder, :root #personalised-section #clouds {
     top: -35%;
  }
}



#sparks{
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;

    .spark {
      fill: #fff;
      opacity: 0;
      animation: explode 3s cubic-bezier(0.000, 0.990, 0.250, 0.970) infinite, fade 3s infinite;
    }

    .sparks {
      transform-origin: 0 0;
    }

    .sparks:nth-child(1) {
      transform: translate(-150px, -290px) scale(0.8);
      .spark {
        animation-delay: 1s;
      }
    }

    .sparks:nth-child(2) {
      transform: translate(150px, -120px) scale(0.6);
      .spark {
        animation-delay: 1.5s;
      }
    }

    .sparks:nth-child(3) {
      transform: translate(-10px, -300px) scale(1);
      .spark {
        animation-delay: 2.4s;
      }
    }

    .sparks:nth-child(4) {
      transform: translate(190px, -190px) scale(0.4);
      .spark {
        animation-delay: 2.9s;
      }
    }

    @keyframes fade {
      1% {
        opacity: 1
      }
      60%,
      100% {
        opacity: 0
      }
    }
    @keyframes explode {
      0% {
        transform: rotate(var(--angle)) translate(0, 0);
      }
      50%,
      100% {
        transform: rotate(var(--angle)) translate(300px, 0);
      }
    }
}

.loyalty-area {
  padding-bottom: 20px;
  .wrap {
    position: relative;
    @media (min-width: $screen-sm) {
      min-height: 152px;
    }
    > img {
      @media (min-width: $screen-sm) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      @media (max-width: $screen-xs-max) {
        margin-bottom: 20px;
      }
    }
  }
  p {
    font-size: 14px;
  }
  + p {
    @media (max-width: $screen-xs-max){
      text-align: center;
    }
  }
}

.widget-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
