.page-loading {
    .col-lang {
        display: none;
    }
    .col-logout {
        display: block;
    }
    .masthead-container {
        max-width: 181px;
        margin-left: auto;
        margin-right: auto;
    }
  .questions {
    min-height: 140px;
    // word-break: break-all;
    .letter{
      // display: inline-block;
    }
  }
    #wave-md-1,
    #wave-md-2 {
        @media (min-width: $screen-lg) {
            top: 40%;
        }
    }
    #wave-sm-1,
    #wave-sm-2 {
        @media (min-width: $screen-lg) {
            top: 42%;
        }
    }
  .progress-title {
    position: relative;

    .lead {
      position: relative;
      display: inline-block;
      overflow: hidden;
      padding-top: 0.2em;
      line-height: 1;
    }
    .letter {
      display: inline-block;
    }
  }
  .question-wrap {
    @media (max-width: 415px) {
        margin-left: 0;
        width: 100%;
    }
  }
}

@media (min-width: $screen-lg) {

  _:-ms-input-placeholder, :root  #loading-section #wave-md-1,
  _:-ms-input-placeholder, :root  #loading-section #wave-md-2 {
        top: 37%;
  }
  _:-ms-input-placeholder, :root  #loading-section #wave-sm-1,
  _:-ms-input-placeholder, :root  #loading-section #wave-sm-2 {
        top: 40%;
  }

}