.page-personalised {
    .col-lang {
        display: none;
    }
    .col-logout {
        display: block;
    }
    .masthead-container {
        max-width: 181px;
        margin-left: auto;
        margin-right: auto;
        @media (max-width: $screen-xs-max) {
            max-width: 121px;
        }
        @media (max-width: $screen-xs) {
            max-width: 101px;
        }
    }
    .logo-masthead {
        position: relative;
        z-index: 999;
    }
    #wave-md-1,
    #wave-md-2 {
        @media (min-width: $screen-lg) {
            top: 44%;
        }
    }
    #wave-sm-1,
    #wave-sm-2 {
        @media (min-width: $screen-lg) {
            top: 48%;
        }
    }
    .video-outer-container {
        @media (max-width: $screen-xs-max) {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 30px;
        }
        @media (max-width: $screen-xs) {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 15px;
        }
    }
    .video-container {
        margin-top: 30px;
        @media (max-width: $screen-xs-max) {
            margin-top: -15px;
        }
        @media (max-width: $screen-xs) {
            margin-top: -10px;
        }

        video {
            // min-height: 430px;
            display: block;
            width: 100%;
            // @media (min-width: $screen-sm) {
            //     min-height: 430px;
            // }
            // @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
            //     min-height: 365px;
            // }
            // @media (max-width: $screen-xs) {
            //     min-height: 250px;
            // }
        }
        .img-wrapper {
            background-color: #ef3024;
            height: 100%;
            // position: absolute;
            width: 100%;
        }
        .video-overlay {
            background-color: rgba(0,0,0,.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;

            .fa-play {
                font-weight: 400;
                font-size: 60px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 10;
                @media (max-width: $screen-xs) {
                    font-size: 40px;
                }
            }
        }
    }
}

#send-email {
    position: relative;

    &[disabled] {
        color: #ccc;
    }
    .fa-exclamation-triangle {
        font-size: 2rem;
        position: absolute;
        right: -30px;
        color: #ed1b24;
    }
    .fa-check {
        font-size: 2rem;
        position: absolute;
        right: -30px;
        color: #1fef1f;
    }
}

#site-vn #personalised-section .lead {
    font-size: 19px;
}

// #partners-section {
//     .list-partners {
//         padding-top: 20px;
//         pading-bottom: 20px;
//         > li {
//             margin-bottom: 40px;
//             padding-right: 40px;
//         }
//     }
// }
