.page-teaser {
    background-color: rgba(239, 50, 36, 1.00);
    background-image: none;
}
#teaser_animation_outer_container {
    position: relative;
    // overflow: hidden;
}
#teaser_animation_container,
#teaser_canvas,
#teaser_dom_overlay_container {
    // position:absolute;
    // margin: 0 auto;
    // left:0;
    // right:0;
    // top:0;
    // bottom:0;
    margin: 0 auto;
    max-width: 700px;
    max-height: 400px;
    @media (max-width: $screen-xs) {
        max-width: 320px;
        max-height: 200px;
    }
}

#masthead_animation_outer_container {
    position: relative;
    margin-bottom: 40px;
    width: 358px;
    height: 444px;
    // max-width: 321px;
    // min-height: 396px;
    // margin: 0 auto;
    // overflow-x: hidden;
}
#masthead_animation_container,
#masthead_canvas,
#masthead_dom_overlay_container {
    margin: 0 auto;
    max-width: 800px;
    max-height: 800px;
}
#masthead_animation_container {
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: -50% -62% auto;
}
