#colophon {
  color: $white;
  font-family: 'GothamRoundedBook', sans-serif;
  position: absolute;
  height: 60px;
  line-height: 60px;
  bottom: 0;
  width: 100%;
  // .container {
  //   padding: 40px 15px;
  // }
  @media (max-width: $screen-xs-max) {
    line-height: 30px;
  }
  span {
    display: block;
  }
    .list-footer {
      margin-bottom: 0;
      @media (max-width: $screen-xs-max) {
        margin-bottom: 10px;
      }
    }
    a {
        color: $white;
        display: block;
    }
    @media (max-width: $screen-xs-max) {
      .container {
        text-align: center;
      }
    }
}