doctype html
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title AirAsia #Half A Billion
  style(type='text/css').
    /* CLIENT-SPECIFIC STYLES */
    body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
    table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
    img { -ms-interpolation-mode: bicubic; }

    /* RESET STYLES */
    img { border: 0; outline: none; text-decoration: none; }
    table { border-collapse: collapse !important; }
    body { font-family: Arial,sans-serif; margin: 0 !important; padding: 0 !important; width: 100% !important; }
    .footer { color: #363636;}

    /* iOS BLUE LINKS */
    a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }

    /* ANDROID CENTER FIX */
    div[style*="margin: 16px 0;"] { margin: 0 !important; }

    /* MEDIA QUERIES */
    @media all and (max-width:599px){
      .wrapper{ width:320px!important; padding: 0 !important; }
      .container{ width:300px!important;  padding: 0 !important; }
      .mobile{ width:300px!important; display:block!important; padding: 0 !important; }
      .img{ width:100% !important; height:auto !important; }
      *[class="mobileOff"] { width: 0px !important; display: none !important; }
      *[class*="mobileOn"] { display: block !important; max-height:none !important; }
    }
body(style="margin:0; padding:0; background-color:#F2F2F2;")
    center
        table(width='100%', border='0', cellpadding='0', cellspacing='0', bgcolor='#F2F2F2')
            tr
                td(align='center', valign='top')
                    .header
                        table.wrapper(width='600', cellpadding='0', cellspacing='0', border='0', bgcolor='#FFFFFF')
                            tr
                                td(height='10', style='font-size:10px; line-height:10px;') &nbsp;
                            tr
                                td(align='center', valign='top')
                                    table.container(width='600', cellpadding='0', cellspacing='0', border='0')
                                        tr
                                            td.mobile(width='200', align='center', valign='center')
                                                p(style='display:block;font-size:12px;font-weight:bold;margin:0;text-align:left;padding-left:30px;')
                                                    | #{hello}
                                                    span(style='margin:0;text-transform:uppercase;')
                                                        |  #{name}
                                                        if lang == 'jp'
                                                            | #{name_title}
                                                p(style='font-size:12px;margin:0;text-align:left;padding-left:30px;')
                                                    | #{big_member_ID}: #{bigID}
                                            td.mobile(width='200', align='center', valign='center')
                                                a(href="https://www.airasia.com/en/home.page", target='_blank')
                                                img(src="https://halfabillion.airasia.com/public/img/edm/airasia-mail-logo.png", style='margin:0; padding:0; border:none; display:block;', border='0', alt="AirAsia", width='80', height='80')
                                            td.mobile(width='200', align='center', valign='center')
                                                p(style='color:#0a0a0a;font-size:12px;margin:0;')
                                                    | #{current_timestamp}
                                                    | &nbsp;|&nbsp;
                                                    a(href=video_url, style='color:#ed0000;text-decoration:none;') #{view_online}
                            tr
                                td(height='10', style='font-size:10px; line-height:10px;') &nbsp;
                    table.wrapper(width='600', cellpadding='0', cellspacing='0', border='0', bgcolor='#ed0000', style='background-image:url("https://halfabillion.airasia.com/public/img/edm/email-BG-vector.png");background-repeat: no-repeat; background-position: top center; background-size: 100%;')
                        tr
                            td(align='center', valign='top')
                                table.container(width='600', cellpadding='0', cellspacing='0', border='0')
                                    tr
                                        td(height='60', style='font-size:20px; line-height:60px;') &nbsp;
                                    tr
                                        td(align='center', valign='top')
                                            if lang == 'cn-zh'
                                                a(href="https://halfabillion/airasia.com/cn-zh")
                                                    img(src='https://halfabillion.airasia.com/public/img/edm/masthead/masthead-cn-cn.png', width='237', height='295', style='margin:0; padding:0; border:none; display:block;', border='0', alt='')
                                            if lang == 'en'
                                                a(href="https://halfabillion/airasia.com/en")
                                                    img(src='https://halfabillion.airasia.com/public/img/edm/masthead/masthead-en.png', width='237', height='295', style='margin:0; padding:0; border:none; display:block;', border='0', alt='')
                                            if lang == 'hk-zh'
                                                a(href="https://halfabillion/airasia.com/hk-zh")
                                                    img(src='https://halfabillion.airasia.com/public/img/edm/masthead/masthead-cn-hk.png', width='237', height='295', style='margin:0; padding:0; border:none; display:block;', border='0', alt='')
                                            if lang == 'id'
                                                a(href="https://halfabillion/airasia.com/id")
                                                    img(src='https://halfabillion.airasia.com/public/img/edm/masthead/masthead-id.png', width='237', height='295', style='margin:0; padding:0; border:none; display:block;', border='0', alt='')
                                            if lang == 'jp'
                                                a(href="https://halfabillion/airasia.com/jp")
                                                    img(src='https://halfabillion.airasia.com/public/img/edm/masthead/masthead-jp.png', width='237', height='295', style='margin:0; padding:0; border:none; display:block;', border='0', alt='')
                                            if lang == 'kr'
                                                a(href="https://halfabillion/airasia.com/kr")
                                                    img(src='https://halfabillion.airasia.com/public/img/edm/masthead/masthead-kr.png', width='237', height='295', style='margin:0; padding:0; border:none; display:block;', border='0', alt='')
                                            if lang == 'th'
                                                a(href="https://halfabillion/airasia.com/th")
                                                    img(src='https://halfabillion.airasia.com/public/img/edm/masthead/masthead-th.png', width='237', height='295', style='margin:0; padding:0; border:none; display:block;', border='0', alt='')
                                            if lang == 'tw-zh'
                                                a(href="https://halfabillion/airasia.com/tw-zh")
                                                    img(src='https://halfabillion.airasia.com/public/img/edm/masthead/masthead-cn-tw.png', width='237', height='295', style='margin:0; padding:0; border:none; display:block;', border='0', alt='')
                                            if lang == 'vn'
                                                a(href="https://halfabillion/airasia.com/vn")
                                                    img(src='https://halfabillion.airasia.com/public/img/edm/masthead/masthead-vn.png', width='237', height='295', style='margin:0; padding:0; border:none; display:block;', border='0', alt='')
                                    tr
                                        td(height='40', style='font-size:20px; line-height:40px;') &nbsp;
                                    tr
                                        td(align='center', valign='top')
                                            p(style='color:#fff;font-size:20px;font-weight:700;margin: 0;text-align:center;')
                                                | #{desc_1}
                                            p(style='color:#fff;font-size:20px;font-weight:700;margin: 0;text-align:center;')
                                                | #{desc_2}
                                            p(style='color:#fff;font-size:20px;margin: 0;text-align:center;')
                                                | #{desc_3}
                                    tr
                                        td(height='20', style='font-size:20px; line-height:20px;') &nbsp;
                                    tr
                                        td(align='center', valign='top')
                                            a(href=journey_url)
                                                img(src=thumbnail_url, alt="" width="400", height="210", style="margin:0; padding:0; border:none; display:block;" border="0")

                                    tr
                                        td(height='20', style='font-size:20px; line-height:20px;') &nbsp;
                                    tr
                                        td(height='10', style='font-size:20px; line-height:10px;') &nbsp;
                                    tr
                                        td(align='center', valign='top', style='display: block;width:100%;')
                                            p
                                                a(href=video_url + '?utm=edm', target="_blank", style='color:#fff; display:block;text-decoration:none;max-width:450px;margin:0 auto;word-wrap:break-word;font-size:8px;')
                                                    =video_url
                                    tr
                                        td(height='20', style='font-size:20px; line-height:20px;') &nbsp;

                    table.wrapper(width='600', cellpadding='0', cellspacing='0', border='0', bgcolor='#1d1d1d')
                        tr
                            td(height='20', style='font-size:10px; line-height:10px;') &nbsp;
                        tr
                            td(align='center', valign='top')
                                table.container(width='600', cellpadding='0', cellspacing='0', border='0')
                                    tr
                                        td(align='center', valign='top', style='color:#fff')
                                            img(src="https://halfabillion.airasia.com/public/img/edm/reward.png", alt="", width='35', height='49')
                                    tr
                                        td.mobileOn(height='10', style='font-size:10px;line-height:10px;')
                                    tr
                                        td(align='center', valign='top', style='color:#fff')
                                    tr
                                        td.mobileOn(height='10', style='font-size:10px;line-height:10px;')
                                    tr
                                        td.mobileOn(height='10', style='font-size:10px;line-height:10px;')
                                    tr
                                        td(align='center', valign='top', style='color:#fff;font-size:12px;')
                                            span(style='display:inline-block;')
                                                a(href="https://www.airasia.com/my/en/check-ins/web-and-mobile.page", target='_blank', style='color:#fff;text-decoration:none;')
                                                    img(src="https://halfabillion.airasia.com/public/img/edm/logo-facebook.png", width='18' height='18', style="margin:0 10px 0 0; padding:0; border:none; display:block;" border="0", alt="Facebook")
                                            span(style='display:inline-block;')
                                                a(href="https://member.airasia.com/login.aspx", target='_blank', style='color:#fff;text-decoration:none;')
                                                    img(src="https://halfabillion.airasia.com/public/img/edm/logo-instagram.png", width='18' height='18', style="margin:0 10px 0 0; padding:0; border:none; display:block;" border="0", alt="Instagram")
                                            span(style='display:inline-block;')
                                                a(href="https://support.airasia.com/s/?language=en_GB", target='_blank', style='color:#fff;text-decoration:none;')
                                                    img(src="https://halfabillion.airasia.com/public/img/edm/logo-twitter.png", width='18' height='18', style="margin:0; padding:0; border:none; display:block;" border="0", alt="Twitter")
                                    tr
                                        td.mobileOn(height='10', style='font-size:10px;line-height:10px;')
                                    tr
                                        td(align='center', valign='top', style='color:#fff;font-size:12px;')
                                            p(style='margin:0;')
                                                a(href="https://www.airasia.com/my/en/check-ins/web-and-mobile.page", target='_blank', style='color:#fff;text-decoration:none;') #{web_check_in}
                                                | &nbsp;|&nbsp;
                                                a(href="https://member.airasia.com/login.aspx", target='_blank', style='color:#fff;text-decoration:none;') #{manage_my_bookings}
                                                | &nbsp;|&nbsp;
                                                a(href="https://support.airasia.com/s/?language=en_GB", target='_blank', style='color:#fff;text-decoration:none;') #{customer_support}
                                    tr
                                        td.mobileOn(height='10', style='font-size:10px;line-height:10px;')
                                    tr
                                        td(align='center', valign='top')
                                            span(style='color:#fff;font-size:12px;')
                                                | &copy; 2018 AirAsia Berhad
                        tr
                            td(height='20', style='font-size:10px; line-height:10px;') &nbsp;