doctype html
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title AirAsia #Half A Billion
  style(type='text/css').
    /* CLIENT-SPECIFIC STYLES */
    body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
    table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
    img { -ms-interpolation-mode: bicubic; }

    /* RESET STYLES */
    img { border: 0; outline: none; text-decoration: none; }
    table { border-collapse: collapse !important; }
    body { font-family: Arial,sans-serif; margin: 0 !important; padding: 0 !important; width: 100% !important; }
    .footer { color: #363636;}

    /* iOS BLUE LINKS */
    a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }

    /* ANDROID CENTER FIX */
    div[style*="margin: 16px 0;"] { margin: 0 !important; }

    /* MEDIA QUERIES */
    @media all and (max-width:599px){
      .wrapper{ width:320px!important; padding: 0 !important; }
      .container{ width:300px!important;  padding: 0 !important; }
      .mobile{ width:300px!important; display:block!important; padding: 0 !important; }
      .img{ width:100% !important; height:auto !important; }
      *[class="mobileOff"] { width: 0px !important; display: none !important; }
      *[class*="mobileOn"] { display: block !important; max-height:none !important; }
    }
body(style="margin:0; padding:0; background-color:#F2F2F2;")
    center
        table(width='100%', border='0', cellpadding='0', cellspacing='0', bgcolor='#F2F2F2')
            tr
                td(align='center', valign='top')
                    .header
                        table.wrapper(width='600', cellpadding='0', cellspacing='0', border='0', bgcolor='#FFFFFF')
                            tr
                                td(height='10', style='font-size:10px; line-height:10px;') &nbsp;
                            tr
                                td(align='center', valign='top')
                                    table.container(width='600', cellpadding='0', cellspacing='0', border='0')
                                        tr
                                            td.mobile(width='200', align='center', valign='center')
                                                p(style='display:block;font-size:12px;font-weight:bold;margin:0;text-align:left;padding-left:30px;')
                                                    | Hello,
                                                    span(style='margin:0;text-transform:uppercase;')
                                                        |  #{name}
                                                p(style='font-size:12px;margin:0;text-align:left;padding-left:30px;')
                                                    | BIG Member ID: #{bigID}
                                            td.mobile(width='200', align='center', valign='center')
                                                a(href="https://www.airasia.com/en/home.page", target='_blank')
                                                img(src="https://tribalddb.com.my/airasia-halfabillion/img/airasia-mail-logo.png", style='margin:0; padding:0; border:none; display:block;', border='0', alt="AirAsia", width='80', height='80')
                                            td.mobile(width='200', align='center', valign='center')
                                                p(style='color:#0a0a0a;font-size:12px;margin:0;')
                                                    | #{current_timestamp}
                                                    | &nbsp;|&nbsp;
                                                    a(href="#", style='color:#ed0000;text-decoration:none;') View online
                            tr
                                td(height='10', style='font-size:10px; line-height:10px;') &nbsp;
                    table.wrapper(width='600', cellpadding='0', cellspacing='0', border='0', bgcolor='#FFFFFF')
                        tr
                            td(align='center', valign='top')
                                table.container(width='600', cellpadding='0', cellspacing='0', border='0')
                                    tr
                                        td(align='center', valign='top')
                                            a(href="#")
                                                img(src='https://tribalddb.com.my/airasia-halfabillion/img/masthead.jpg', width='600', height='757', style='margin:0; padding:0; border:none; display:block;', border='0', alt='')
                    table.wrapper(width='600', cellpadding='0', cellspacing='0', border='0', bgcolor='#1d1d1d')
                        tr
                            td(height='20', style='font-size:10px; line-height:10px;') &nbsp;
                        tr
                            td(align='center', valign='top')
                                table.container(width='600', cellpadding='0', cellspacing='0', border='0')
                                    tr
                                        td(align='center', valign='top', style='color:#fff')
                                            img(src="https://ci3.googleusercontent.com/proxy/01zdLPpkpzjk93OF_8sgL3Do15w8gPwGrTIbSdrVpbnofBfKHvoerAZx5N5LBgmxtRVc388RU3FTPIt-UeKo-w63blqfSy5edcCDiLLy9ILT=s0-d-e1-ft#http://edmimg.airasia.com/custloads/765155098/md_252464.png", alt="", width='35', height='49')
                                    tr
                                        td.mobileOn(height='10', style='font-size:10px;line-height:10px;')
                                    tr
                                        td(align='center', valign='top', style='color:#fff')
                                    tr
                                        td.mobileOn(height='10', style='font-size:10px;line-height:10px;')
                                    tr
                                        td(align='center', valign='top', style='color:#fff;font-size:12px;')
                                            p(style='margin:0;')
                                                span(style='color:#fff;')
                                                    | Download our apps:&nbsp;
                                                a(href='https://itunes.apple.com/us/app/airasia/id565050268?mt=8', target='_blank', style='color:#fff;text-decoration:none;') iOS
                                                | &nbsp;|&nbsp;
                                                a(href='https://play.google.com/store/apps/details?id=com.airasia.mobile&hl=en', target='_blank', style='color:#fff;text-decoration:none;') Android
                                    tr
                                        td.mobileOn(height='10', style='font-size:10px;line-height:10px;')
                                    tr
                                        td(align='center', valign='top', style='color:#fff;font-size:12px;')
                                            span(style='display:inline-block;')
                                                a(href="https://www.airasia.com/my/en/check-ins/web-and-mobile.page", target='_blank', style='color:#fff;text-decoration:none;')
                                                    img(src="https://tribalddb.com.my/airasia-halfabillion/img/logo-facebook.png", width='18' height='18', style="margin:0 10px 0 0; padding:0; border:none; display:block;" border="0", alt="Facebook")
                                            span(style='display:inline-block;')
                                                a(href="https://member.airasia.com/login.aspx", target='_blank', style='color:#fff;text-decoration:none;')
                                                    img(src="https://tribalddb.com.my/airasia-halfabillion/img/logo-instagram.png", width='18' height='18', style="margin:0 10px 0 0; padding:0; border:none; display:block;" border="0", alt="Instagram")
                                            span(style='display:inline-block;')
                                                a(href="https://support.airasia.com/s/?language=en_GB", target='_blank', style='color:#fff;text-decoration:none;')
                                                    img(src="https://tribalddb.com.my/airasia-halfabillion/img/logo-twitter.png", width='18' height='18', style="margin:0; padding:0; border:none; display:block;" border="0", alt="Twitter")
                                    tr
                                        td.mobileOn(height='10', style='font-size:10px;line-height:10px;')
                                    tr
                                        td(align='center', valign='top', style='color:#fff;font-size:12px;')
                                            p(style='margin:0;')
                                                a(href="https://www.airasia.com/my/en/check-ins/web-and-mobile.page", target='_blank', style='color:#fff;text-decoration:none;') Web Check-in
                                                | &nbsp;|&nbsp;
                                                a(href="https://member.airasia.com/login.aspx", target='_blank', style='color:#fff;text-decoration:none;') Manage My Booking
                                                | &nbsp;|&nbsp;
                                                a(href="https://support.airasia.com/s/?language=en_GB", target='_blank', style='color:#fff;text-decoration:none;') Customer Support
                                    tr
                                        td.mobileOn(height='10', style='font-size:10px;line-height:10px;')
                                    tr
                                        td(align='center', valign='top')
                                            span(style='color:#fff;font-size:12px;')
                                                | &copy; 2018 AirAsia Berhad
                        tr
                            td(height='20', style='font-size:10px; line-height:10px;') &nbsp;
                    .footer
                        table.wrapper(width='600', cellpadding='0', cellspacing='0', border='0', bgcolor='#FFFFFF')
                            tr
                                td(height='35', style='font-size:10px; line-height:10px;') &nbsp;
                            tr
                                td(align='center', valign='top')
                                    table.container(width='600', cellpadding='0', cellspacing='0', border='0')
                                        tr
                                            td(align='center', valign='top')
                                                span(style='font-size:12px;')
                                                    | If you want to unsubscribe from our mailing list, unsubscribe
                                                    a(href="#" style="color:#363636;")  here.
                            tr
                                td(height='35', style='font-size:10px; line-height:10px;') &nbsp;